.chart__big {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-top: 0;
  position: relative;
  background-color: white;

  .buttons__wrapper {
    flex-basis: 25%;
    & mat-select {
      // flex-basis: 30%;
      @include customSelect();
    }

    &::ng-deep {
      mat-checkbox label {
        margin: 0 5px;
      }
    }
  }

  .chart__content {
    .chart__content--item {
      .canvas {
        height: 240px;

        canvas {
          display: block;
          height: 240px;
          margin: 0 auto;
        }
      }
    }
  }

  .chart__menu {
    bottom: -4px;
  }

  .chart__table {
    height: 100%;
    color: $boxTableColor;
    font-family: $accent-font;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
  }

  .header-wrapper{
    .chart__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media #{$grid-max-large-xs-size} {
        flex-direction: row;
      }

      .header__tabs {
        display: flex;
        flex-wrap: wrap;
        width: 25%;
        justify-content: space-between;

        @media #{$grid-max-large-xs-size} {
          width: 100%;
          margin-bottom: 10px;
        }

        @media #{$grid-large-xs-size} and  #{$grid-max-md-size} {
          width: 35%;
          min-width: 10%;
        }

        @media #{$grid-large-lg-size} {
          width: 25%;
        }

        .header__title {
          font-size: 11px;
          font-family: $accent-font;
          font-weight: 400;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $base-color;
            @include transition();
          }

          &:hover {
            cursor: pointer;

            &:after {
              width: 100%;
              @include transition();
            }
          }
        }

        .header__title--active {
          font-weight: 600;

          &:after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $base-color;
            @include transition();
          }
        }

        .header__title--bold {
          font-size: 11px;
          font-family: $accent-font;
          font-weight: 600;
        }
      }

      .header__btns {
        display: flex;
        align-items: center;

        @media #{$grid-max-large-xs-size} {
          max-width: 90%;
        }

        &:not(.header__btns--prices) {
          @media #{$grid-max-large-xs-size} {
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  .filters__models {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 70%;
    width: 70%;

    @media #{$grid-max-md-size} {
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;
      width: 100%;
      margin: 10px auto 0;

      .legend__availability {
        width: 49%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;

        @media #{$grid-max-large-xs-size} {
          text-align: center;
          width: 50%;
          margin: 0 auto;
        }
      }
    }

    @media #{$grid-md-size} and #{$grid-max-large-lg-size} {
      .legend__availability {
        margin-bottom: 0;
      }
    }
  }

  .filters__container {
    text-align: right;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @media #{$grid-max-md-size} {
      position: inherit;
      flex-direction: column;
      margin: 0 auto;
    }

    &--prices {
      @media #{$grid-large-lg-size} {
        bottom: -8%;
      }

      @media #{$grid-xl-size} {
        bottom: -10%;
      }
    }

    .filters__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      min-width: 100%;
      position: relative;
      z-index: 1;

      &.hasLegend {
        justify-content: space-between;
        max-width: 20%;
        min-width: 20%;
        top: 0;

        @media #{$grid-max-md-size} {
          max-width: 100%;
          min-width: 100%;
        }
      }

      .buttons--group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        overflow: visible;

        @media #{$grid-max-large-xs-size} {
          width: 100%;
          margin: 0 auto 20px;
        }

        @media #{$grid-large-xs-size} and #{$grid-max-sm-size} {
          width: 60%;
          margin: 0 auto 20px;
        }

        @media #{$grid-sm-size} and #{$grid-max-md-size} {
          width: 100%;
          margin: 0 auto;
        }

        .button--group {
          background-color: $btns__kind;
          border-radius: 30px;
          font-size: 10px;
          width: auto;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: 0;
          color: black;
          margin: 0 10px;
          border-left: none;
          @include transition();

          &:hover {
            @include transition();
            top: -3px;
          }

          &.mat-button-toggle-checked {
            background-color: $base-color;
            color: $white;
            @include transition();

            &:hover {
              top: 0;
            }
          }
        }
      }
    }
  }

  .availability {
    overflow: hidden;
  }

  .availability__menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 14px;

    @media #{$grid-max-sm-size} {
      display: block;
    }

    .header__tabs {
      display: flex;
      justify-content: space-between;
      font-size: 11px;

      @media #{$grid-max-sm-size} {
        justify-content: center;
      }

      .header__title {
        margin-right: 20px;
        border-radius: 30px;
        cursor: pointer;
        @include transition();
        height: 21px;
        display: flex;
        align-items: center;
        padding: 0 10px;

        &:hover, &.header__title--active {
          background-color: $btn-background-color;
          color: $white;
        }
      }
    }

    .availability__menu {
      font-size: 9px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 40%;

      mat-select {
        @include customSelect();
        margin-left: 10px !important;
      }

      .mat-radio-button {
        display: block !important;
      }

      .availability__menu__top {
        .radio-button {
          @media #{$grid-md-size} {
            margin-bottom: 23px;
          }
        }
      }

      .availability__menu__divider {
        background-color: $dividerColor;
        opacity: 0.14;
        margin: 0 6px;
        display: none;

        @media #{$grid-md-size} {
          width: 80%;
          display: block;
        }
      }

      .availability__menu__bottom {
        .radio-button {
          @media #{$grid-md-size} {
            margin-top: 23px;
          }
        }

        .chart__buttons__input {
          margin-left: 19px!important;
          min-width: 39px;
          background-color: $inputBg;
          max-width: 45px;
          border-radius: 10px;
        }
      }
    }
  }

  .availability__content__wrapper {
    display: flex;
    position: relative;
    visibility: hidden;
    transform: translateY(100%);
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.show-availability {
      position: relative;
      visibility: visible;
      transition: opacity 1s ease-out;
      opacity: 1;
      transform: translateY(0);
      height: 100%;
    }

    @media #{$grid-md-size} {
      min-width: 100%;
      width: 100%;
      flex-direction: row;
    }
  }

  .box__table {
    color: $boxTableColor;
    font-family: $accent-font;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    position: relative;
    transform: translateY(100%);
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    &.show-outages {
      min-width: 100% !important;
      margin-left: 0 !important;
      max-height: 25vh;
      position: relative;
      overflow: auto;
      transform: translateY(0);
      opacity: 1;
      height: auto;

      @media #{$grid-max-large-lg-size} {
        max-height: 52vh;
        min-height: 30vh;
      }
    }

    .has-circle {
      position: relative;
      padding-left: 25px;

      .circle-green {
        width: 14px;
        height: 14px;
        background-color: $btn-background;
        position: absolute;
        border-radius: 100%;
        left: 5px;
      }

      .circle-yellow {
        width: 14px;
        height: 14px;
        background-color: $base-color;
        position: absolute;
        border-radius: 100%;
        left: 5px;
      }
    }

    .outages-table {
      box-shadow: none;
      min-width: 700px;

      .mat-cell, .mat-header-cell {
        font-size: 10px;
        color: $boxTableColor;
      }

      .mat-row {
        border-bottom-width: 0;
      }
    }
  }

  .outagesSource__copyright {
    font-size: 10px;
    color: black;
    text-align: right;
    padding-top: 10px;
  }

  .loader {
    top: -20px;
    position: relative;
  }

  &.chart__big--prices,
  &.chart__big--boxplot {
    height: 50%;

    .chart__content--item {
      height: 100%;

      .canvasPrices {
        max-height: 75%;
      }
    }
  }

  @media #{$grid-max-large-lg-size} {
    &.chart__big--boxplot {
      padding-top: 2%;
    }
  }

  @media #{$grid-large-lg-size} {
    &.chart__big--boxplot {
      padding-top: 10%;
    }
  }
}
