.chart__small {

  .chart__content {
    //margin-top: 10px;

    @media #{$grid-max-large-lg-size} {
      min-height: 290px;
    }

    @media #{$grid-large-lg-size} {
      min-height: 240px;
    }

    @media #{$grid-xl-size} {
      min-height: auto;
    }

    canvas {
      &.canvas__small {
        width: 100%;
        max-height: 60%;
        margin-bottom: 20px;

        @media #{$grid-sm-size} and #{$grid-max-md-size} {
          max-height: 60%;
        }

        @media #{$grid-md-size} {
          max-height: 70%;
          margin-bottom: 0;
        }

        @media #{$grid-large-lg-size} {
          margin-bottom: 0;
        }
      }
    }

    .canvas__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex: 1;

      canvas {
        max-height: 98%;
      }
    }
  }
}
