// Style dla wszystkich wykresow przy wlaczonym fullScreenie

@mixin allChartsFullScreen() {
  padding-left: 10px;
  padding-top: 10px;
  grid-area: auto;
  z-index: 1;
  @include transition();
  overflow: hidden;
  visibility: visible;
  opacity: 1;

  &.canvas-shadow {
    box-shadow: none;
  }

  .header-wrapper {

    .title__wrapper {
      .title {
        font-size: 14px !important;
      }
      .buttons__wrapper {
        font-size: 13px !important;

        .mat-checkbox-label {
          font-size: 14px !important;
        }

        .showDates {
          margin: 0 15px;
        }

        .chartHeader__prevNext--divider {
          display: none;
        }

        .chart__navigation {
          font-size: 20px;

          .next-day, .prev-day, .current-date {
            font-size: 12px !important;
          }
        }

        .chartHeader__prevNext {
          font-size: 14px !important;
        }

        mat-select {
          margin-left: 30px !important;
          padding: 4px 10px !important;
          min-width: 160px !important;
          max-width: 160px !important;
        }
      }
    }
  }

  .chart__countries, .chart__labels {
    .chip__text {
      font-size: 12px !important;
      line-height: 12px !important;
    }
  }

  .chart__labels {
    bottom: 30px;

    &--isotherm {
      bottom: 15px;
    }
  }

  .btn--availability, .btn--isotherm {
    font-size: 12px !important;
  }

  .container__table {
    .days-row__cell, .cell__main {
      min-width: 120px;
    }
  }

  .resizeButtons {
    span, i {
      font-size: 20px !important;
    }
  }

  .chips__chip {
    height: 27px !important;

    &.country__buttons {
      height: 27px !important;
      width: 43px !important;
      border-radius: 14px !important;
    }

    &.chips__chip--kind {
      padding: 1px 18px !important;
    }

    .chip__text {
      font-size: 12px!important;
      line-height: 12px!important;
    }
  }

  .weather__content {
    // isotherm legend btn na fullscreenie
    .legend {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .button--group {
    font-size: 13px !important;
    padding: 1px 18px;
    height: 27px !important;
  }

  .chart__content {
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin-top: 0;

    &.availability__content {
      height: 80vh;

      .filters__container {
        bottom: 0;

        @media #{$grid-large-lg-size} {
          bottom: 15px;
        }
      }
    }
  }

  .box__table {
    &.show-outages {
      max-height: 83vh;
    }
  }

  .chart__small {
    .canvas__small {
      max-height: calc(100% - 160px);
      min-height: calc(100% - 160px);

      @media #{$grid-md-size} and #{$grid-max-large-lg-size} {
        max-height: calc(100% - 160px);
        min-height: calc(100% - 160px);
      }

      &.canvas--hasLegend {
        max-height: calc(100% - 50px);
        min-height: calc(100% - 50px);
      }
    }
  }

  .chart__big {
    .canvas {
      height: 72vh !important;

      canvas {
        height: 100%;
      }
    }
  }

  .dates{
    &--red{
      color: rgb(193, 52, 44);
    }

    &--blue{
      color: rgb(25, 95, 154);
    }
  }
}

@mixin notChartPrices() {
  &.chartFullScreenContainer {
    .chart__labels{
      bottom: 16px;

      chart-button {
        margin-right: 16px;
      }
    }
    
    .canvasAvailability {
      max-height: 70vh !important;
      min-height: 70vh !important;

      @media #{$grid-md-size} and #{$grid-max-large-lg-size} {
        max-height: 71vh !important;
        min-height: 71vh !important;
      }
    }

    .chart__content.canvas-shadow{
      flex-direction: row;
    }
  }
}

@mixin chartPrices() {
  .loader {
    top: 20px !important;
  }

  &.chartFullScreenContainer {
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;

    .chart__labels {
      bottom: 16px;

      chart-button{
        margin-right: 16px;
      }
    }

    .chart__big--prices,
    .chart__big--boxplot {
      height: 100%;
    }

    .chart__big--boxplot {
      .canvasBig {
        margin-top: 6%;
      }
    }

    .filters__container--prices {
      bottom: -8%;
    }

    .chart {
      .chart__content {
        .chart__navigation {
          .current-date {
            font-size: 14px;
          }
        }
      }
    }
  }
}
