@import '../../../assets/css/variables';
@import '../../../assets/css/charts/_chart_fullscreen.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  &::ng-deep {

    userform {
      display: flex;
    }

    globalfilters {
      height: 100%;
      width: calc(20% - 30px);
      background-color: $bg-subpage-color;
      transition: all 300ms;

      &.colapse-menu {
        .chips__chip--model {
          width: 90% !important;

          .model__text {
            justify-content: flex-end;
          }

          &.active--model {
            .model__text {
              justify-content: flex-start;
            }
          }
        }
      }

      @media #{$grid-sm-size} and #{$grid-max-md-size} {
        width: calc(30% - 30px);
      }

      @media #{$grid-large-lg-size} {
        width: calc(15% - 30px);
      }

      @media #{$grid-max-sm-size} {
        display: none;

        &.globalfiltersMenu {
          position: fixed;
          width: 100%;
          height: calc(100% - 60px);
          left: 0;
          display: block;
          z-index: 1;
          bottom: 0;
          @include transition();

          .params__colapse {
            display: none;
          }

          &.globalFiltersShow {
            transform: translateX(0);
          }

          &.globalFiltersHidden {
            transform: translateX(-100%);
          }
        }
      }

      @media #{$grid-sm-size} {
        &.globalfiltersMenu {
          display: none;
        }
      }

      .toggleDropDown {
        padding-top: 10px;
      }

      .params__models {
        overflow: hidden !important;

        chart-button {
          button {
            width: 100%;
            box-shadow: none;
            margin-bottom: 28px;
          }

          &.params__models--last {
            .chips__chip--model {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    banner {
      &.browser-safari10 {
        .banner {
          @media #{$grid-max-sm-size} {
            margin-bottom: 70px;
          }
        }
      }
    }

    .chart-list {
      overflow-y: auto;
      width: 100%;
      background-color: $chart-container-background;
      position: relative;
      scroll-behavior: auto;
      -webkit-overflow-scrolling: touch;
      @include gridSetup();

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: $chart-container-background;
        visibility: hidden;
        opacity: 0;
        @include transition();
      }

      &.chartListFullScreen {
        display: block !important;
        overflow: hidden;

        .chart-container {
          visibility: hidden;
          opacity: 0;
        }

        &:after {
          visibility: visible;
          opacity: 1;
          height: 115%;
          z-index: 10;
        }
        @include transition();
      }

      @media #{$grid-sm-size} {
        padding-left: 10px;
        padding-right: 10px;
      }

      &.grid-container {
        display: grid;
        overflow-x: hidden;
        padding-top: 10px;

        @media #{$grid-max-md-size} {
          display: flex;
          flex-direction: column;
          overflow-x: hidden;

          .chart-container {
            margin-bottom: 20px !important;
            flex: 1 1 auto;
          }
        }

        &.browser-safari10 {
          @media #{$grid-max-md-size} {
            display: block;
            margin-top: 40px;
            overflow: visible;

            .chart-container {
              min-height: 250px;
            }
          }
        }

        @media #{$grid-md-size} {
          grid-template-areas:
            'renewables renewables  weather weather'
            'demand demand  hydro hydro'
            'prices prices prices prices'
            'availability availability availability availability'
            'data data data data';
          grid-template-rows: 0.8fr 1fr 1fr;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px 10px;
          @include gridSetup();
        }

        @media #{$grid-large-lg-size} {
          grid-template-areas:
            'renewables renewables renewables  weather weather weather  demand demand demand  hydro hydro hydro'
            'prices prices prices prices prices availability availability availability availability availability availability availability'
            'prices prices prices prices prices data data data data data data data';

          grid-template-rows: 0.8fr 1fr 1fr;
          grid-template-columns: repeat(12, 1fr);
          @include gridSetup();
        }

        .chart-container {
          width: 100%;
          z-index: 0;
          margin-left: 0;
          margin-right: 0;

          &.chartFullScreenContainer {
            @include allChartsFullScreen();
          }

          &:not(.chart-container-prices) {
            @include notChartPrices();
          }

          &.chart-container-prices {
            @include chartPrices();
          }
        }
      }
    }

    //Tabsy w User Account
    .tabButton {
      display: flex;
      justify-content: space-between;
      background-color: $boxTableColor;
      font-size: 30px;
      align-items: center;
      height: 68px;
      padding-left: 42px;
      padding-right: 34px;
      cursor: pointer;

      .arrowDown {
        @include transition();
        transform: rotate(0);
        display: block;
        color: $base-color;
      }

      &.openTab {
        .arrowDown {
          @include transition();
          transform: rotate(180deg);
        }
      }
    }

    .tabContent {
      background-color: $white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin-bottom: 25px;
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0 42px;
      @include transition();

      &.openTabContent {
        padding: 25px 42px 22px 42px;
        visibility: visible;
        opacity: 1;
        max-height: 1000px;
        @include transition();
      }
    }
  }
}

@keyframes showDashboard {
  from {
    transform: translateX(-100%);
    opacity: 0;
    background-color: white;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    background-color: $bg-color;
  }
}

.container__chart-list {
  display: flex;
  height: calc(100% - (#{$banner-height} + 2px));
  width: 100%;
  animation: showDashboard 0.5s forwards;
}

.colapse-menu {
  width: calc(16% - 20px);
  @include transition();

  @media #{$grid-md-size} {
    width: calc(13% - 20px);
  }

  @media #{$grid-lg-size} {
    width: calc(7% - 20px);
  }

  &::ng-deep {
    .box {
      margin-bottom: 0;
      border: none;
    }

    .chips__chip {
      box-shadow: none;
    }

    .chip--model {
      background-color: transparent;
    }

    .chips__chip--model {
      min-width: 70px;
    }
    
    .active--model {
      background-color: transparent;
    }

    .container__times {
      display: none;
    }
  }
}

.hide-content {
  display: none;
}



.container__user-profile {
  height: 100%;
  width: 100%;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  animation: showUserProfile .5s forwards;

  @media #{$grid-max-lg-size} {
    height: 100%;
  }
}
