<banner class="browser-{{ currentBrowser }}{{ majorBrowserVersion }}"></banner>
<div class="container__chart-list" [class.hide-content]="!(showDashboard$ | async)">
  <globalfilters [class.colapse-menu]="(filterMenuState$ | async)"></globalfilters>
  <div #chartList class="chart-list grid-container browser-{{ currentBrowser }}{{ majorBrowserVersion }}">

    <div class="col-single chart-container renewables smallLoader">
      <chart #renewablesChart [chartOptions]="renewablesOptions" [chartTitle]="'Renewables'"
         [renewablesWindRunDates]="renewablesWindRunDates$ | async"
         [renewablesSolarRunDates]="renewablesSolarRunDates$ | async"
         [renewablesCombinedRunDates]="renewablesCombinedRunDates$ | async"
         [queryParams]="renewablesQueryParams"
         (changeDataEvent)="changeData($event)">
      </chart>
    </div>
    <div class="col-single chart-container weather smallLoader">
      <chart-weather #weatherChart [chartOptions]="weatherOptions" [chartTitle]="'Weather'"
        [isothermRunDates]="isothermRunDates$ | async"
        [temperatureRunDates]="temperatureRunDates$ | async"
        [temperatureDifferenceRunDates]="temperatureDifferenceRunDates$ | async"
        [queryParams]="weatherQueryParams"
        (changeDataEvent)="changeData($event)">
      </chart-weather>
    </div>

    <div class="col-single chart-container demand smallLoader">
      <chart-demand #demandChart [chartOptions]="demandOptions" [chartTitle]="'Demand'"
        [demandRunDates]="demandRunDates$ | async"
        [residualDemandRunDates]="residualDemandRunDates$ | async"
        [queryParams]="demandQueryParams"
        (changeDataEvent)="changeData($event)">
      </chart-demand>
    </div>

    <div  class="col-single chart-container hydro smallLoader">
      <chart-hydro #hydroChart [chartOptions]="hydroOptions" [chartTitle]="'Hydro'"
         [hydroRunDates]="hydroRunDates$ | async"
         [queryParams]="hydroQueryParams"
         (changeDataEvent)="changeData($event)">
      </chart-hydro>
    </div>

    <div [class.bigLoader]="(pricesLoader$ | async)" class="col-single chart-container prices chart-container-prices canvas-shadow">
      <chart-prices #pricesChart [chartOptions]="pricesOptions" [chartTitle]="'Prices'"
          [pricesRunDates]="pricesRunDates$ | async"
          [queryParams]="pricesQueryParams"
          (changeDataEvent)="changeData($event)">
      </chart-prices>

      <chart-boxplot #riskManagementChart [chartTitle]="'Risk Management'" [chartBoxOptions]="riskOptions" [queryParams]="pricesQueryParams"
                     (changeDataEvent)="changeData($event)">
      </chart-boxplot>
    </div>

    <div [class.bigLoader]="(availabilityLoader$ | async)" class="col-single chart-container availability">
      <chart-availability #availabilityChart [queryParams]="availabilityQueryParams"
        [availabilityRunDates]="availabilityRunDates$ | async"
        [chartOptions]="availabilityOptions" [tableData]="availabilityTableData" [chartTitle]="'Availability'"
        (changeDataEvent)="changeData($event)">
      </chart-availability>
    </div>

    <div [class.bigLoader]="(tableDataLoader$ | async)" class="col-single chart-container data">
      <data-table [class.loadingContent]="(tableDataLoader$ | async)" #dataTable [dataSrc]="tableData$ | async" [prevNextDayAvailable]="bigTableDaysAvailable" [selectedCountries]="selectedCountries$ | async" (dayEmitter)="changeBigTableDay($event)"></data-table>
    </div>
  </div>

</div>
<userprofile class="container__user-profile" [class.hide-content]="(showDashboard$ | async)"></userprofile>
