@import '../../../assets/css/_chart.scss';

weather-map {
  
  @include transition();
  // width: 100% !important;
  // height: 225px;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  // margin-right: 11px;
  &::ng-deep {
    & #map {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.full-width {
  padding: 0 !important;
}

.hidden {
  display: none !important;
}

.mapIframe {
  position: absolute;
  left: 0;
  //height: 90%;
  height: 80%;
  bottom: 0;
  border: none;

  .leaflet-bottom {
    display: none;
  }
}

.selectMap {
  font-size: 10px;
  width: 75px;
  display: flex;
  align-items: center;
}

.filters__models {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  width: 100%;

  @media #{$grid-max-md-size} {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 10px auto 0;

    .legend__isotherm {
      width: 49%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;

      @media #{$grid-max-large-xs-size} {
        text-align: center;
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  @media #{$grid-large-lg-size} and #{$grid-max-xl-size} {
    max-width: 100%;
    width: 100%;
    margin: 10px auto 0;
  }
}

.buttons__wrapper--radioButtons {
  display: flex;

  input {
    width: 0;
    height: 0;

    &:checked {
      color: $orange;
    }
  }
}