<div class="chart chart__small"
     [class.hide]="chartStatus === 'hide'"
     [class.show]="chartStatus === 'show'">
  <div class="chart__content weather__content canvas-shadow">
    <div class="chart__content--item">
      <div class="chart__countries">
        <div class="countries__wrapper">
          <chart-button
              *ngFor="let country of countries$ | async"
              (click)="changeDataByCountry(country)"
              (emitCountry)="setChartSelectedBtn(country)"
              [name]="country.name"
              [country]="country"
              [kind]="'country'"
              [chartType]="chartTitle"
              [currentCountry$]="currentCountry$"
          ></chart-button>
        </div>
        <div class="resizeButtons resizeButtons-width">
          <span *ngIf="(currentSelectedKind$ | async) === 'Calculated Difference'" (click)="switchKind('Temperature')" class="material-icons">timeline</span>
          <span *ngIf="(currentSelectedKind$ | async) === 'Temperature'" (click)="switchKind('Calculated Difference')" class="ico-charts_alt"></span>
          <span *ngIf="(currentSelectedKind$ | async)  === 'Isotherm' && !fullscreenActive" (click)="openFilterModal()" class="icon-3 ico-filter"></span>
          <span *ngIf="fullscreenActive" (click)="setFullscreen(chartTitle, false)" class="ico-minify"></span>
          <span *ngIf="!fullscreenActive" (click)="setFullscreen(chartTitle, true)" class="ico-fullscreen"></span>
        </div>
      </div>

      <div class="header-wrapper">
        <div class="title__wrapper">
          <div class="title">{{ chartTitle }}</div>
          <div [hidden]="!hideMap"
               class="buttons__wrapper">
            <div class="prevNextAsOf">
              <div [class.showDates]="fullscreenActive">
                <label class="chartHeader__prevNext" [class.checboxActive]="lastToogleState === true">
                  <input
                    #lastCheckBox
                    (click)="checkCheckBoxKind(lastCheckBox.checked,'last')"
                    [checked]="lastToogleState"
                    type="checkbox"
                    class="chartHeader__prevNext__toggleBtn"/>
                  <span class="ico-back chartHeader__prevNext__icon"></span> Last
                </label>
                <ng-container *ngIf="fullscreenActive">
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Isotherm'">
                    <span *ngIf="isothermRunDates.gfs?.length" class="dates dates--red">{{ isothermRunDates.gfs[0] }}</span>
                    <span *ngIf="isothermRunDates.hres?.length" class="dates dates--blue">{{ isothermRunDates.hres[0] }}</span>
                  </ng-container>
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Temperature'">
                    <span *ngIf="temperatureRunDates.gfs?.length"
                          class="dates dates--red">{{ temperatureRunDates.gfs[0] }}</span>
                    <span *ngIf="temperatureRunDates.hres?.length"
                          class="dates dates--blue">{{ temperatureRunDates.hres[0] }}</span>
                  </ng-container>
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Calculated Difference'">
                    <span *ngIf="temperatureDifferenceRunDates.gfs?.length"
                          class="dates dates--red">{{ temperatureDifferenceRunDates.gfs[0] }}</span>
                    <span *ngIf="temperatureDifferenceRunDates.hres?.length"
                          class="dates dates--blue">{{ temperatureDifferenceRunDates.hres[0] }}</span>
                  </ng-container>
                </ng-container>
              </div>
              <div class="chartHeader__prevNext--divider">/</div>
              <div [class.showDates]="fullscreenActive">
                <label class="chartHeader__prevNext" [class.checboxActive]="prevToogleState === true">
                  <input
                    #prevCheckBox
                    (click)="checkCheckBoxKind(prevCheckBox.checked,'prev')"
                    [checked]="prevToogleState"
                    type="checkbox"
                    class="chartHeader__prevNext__toggleBtn"/>
                  Previous <span class="ico-front chartHeader__prevNext__icon"></span>
                </label>
                <ng-container *ngIf="fullscreenActive">
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Isotherm'">
                    <span *ngIf="isothermRunDates.gfs?.length" class="dates dates--red">{{ isothermRunDates.gfs[1] }}</span>
                    <span *ngIf="isothermRunDates.hres?.length" class="dates dates--blue">{{ isothermRunDates.hres[1] }}</span>
                  </ng-container>
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Temperature'">
                    <span *ngIf="temperatureRunDates.gfs?.length"
                          class="dates dates--red">{{ temperatureRunDates.gfs[1] }}</span>
                    <span *ngIf="temperatureRunDates.hres?.length"
                          class="dates dates--blue">{{ temperatureRunDates.hres[1] }}</span>
                  </ng-container>
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Calculated Difference'">
                    <span *ngIf="temperatureDifferenceRunDates.gfs?.length"
                          class="dates dates--red">{{ temperatureDifferenceRunDates.gfs[1] }}</span>
                    <span *ngIf="temperatureDifferenceRunDates.hres?.length"
                          class="dates dates--blue">{{ temperatureDifferenceRunDates.hres[1] }}</span>
                  </ng-container>
                </ng-container>
              </div>

              <ng-container *ngIf="(currentSelectedKind$ | async) === 'Isotherm'">
                <mat-select #runDatesSelect *ngIf="isothermRunDates"
                            [(value)]="!isothermRunDate ? null : isothermRunDate"
                            (selectionChange)="loadMoreData(runDatesSelect.value, 'isotherm')" placeholder="As of">
                  <mat-option [value]="null">As of</mat-option>
                  <ng-container *ngIf="isothermRunDates.gfs?.length">
                    <mat-option *ngFor="let date of (isothermRunDates.gfs | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="isothermRunDates.hres?.length && !isothermRunDates.gfs">
                    <mat-option *ngFor="let date of (isothermRunDates.hres | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>

              <ng-container *ngIf="(currentSelectedKind$ | async) === 'Temperature'">
                <mat-select #runDatesSelect *ngIf="temperatureRunDates"
                            [(value)]="!temperatureRunDate ? null : temperatureRunDate"
                            (selectionChange)="loadMoreData(runDatesSelect.value, 'temperature')" placeholder="As of">
                  <mat-option [value]="null">As of</mat-option>
                  <ng-container *ngIf="temperatureRunDates.gfs?.length">
                    <mat-option *ngFor="let date of (temperatureRunDates.gfs | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="temperatureRunDates.hres?.length && !temperatureRunDates.gfs">
                    <mat-option *ngFor="let date of (temperatureRunDates.hres | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>

              <ng-container *ngIf="(currentSelectedKind$ | async) === 'Calculated Difference'">
                <mat-select #runDatesSelect *ngIf="temperatureDifferenceRunDates"
                            [(value)]="!temperatureDifferenceRunDate ? null : temperatureDifferenceRunDate"
                            (selectionChange)="loadMoreData(runDatesSelect.value, 'calculated difference')" placeholder="As of">
                  <mat-option [value]="null">As of</mat-option>
                  <ng-container *ngIf="temperatureDifferenceRunDates.gfs?.length">
                    <mat-option *ngFor="let date of (temperatureDifferenceRunDates.gfs | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="temperatureDifferenceRunDates.hres?.length && !temperatureDifferenceRunDates.gfs">
                    <mat-option *ngFor="let date of (temperatureDifferenceRunDates.hres | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas__container">
        <ng-container>
          <canvas
            #chart
            [class.hidden]="!hideMap"
            [class.resizeOn]="(resizeLoader$ | async)"
            class="canvas__small canvas--hasLegend">
          </canvas>
        </ng-container>
      </div>
      <ng-container *ngIf="(resizeLoader$ | async)">
        <div class="loader__container">
          <div class="loader">
            <img src="../../../assets/img/loader.svg">
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="(currentSelectedKind$ | async) === 'Isotherm' && fullscreenActive">
        <div class="filters__models legend">
          <chart-button *ngFor="let singleKind of isothermKind; let i = index"
                        (click)="selectedParameters(singleKind, selectedKind.activeIsotherm)"
                        [selectedIsothermBtns]="selectedLegendBtns$ | async"
                        [name]="singleKind"
                        [isothermIndex]="i+1"
                        [kind]="'isotherm'"
                        #selectedKind
                        class="legend__isotherm"
          ></chart-button>
        </div>
      </ng-container>

      <div class="chart__labels"
           [class.chart__labels--isotherm]="(currentSelectedKind$ | async) === 'Isotherm' && fullscreenActive">
        <ng-container *ngIf="subKind === 'Calculated Difference'">
          <chart-button
              (click)="toggleData('Calculated Difference')"
              [name]="'Calculated Difference'"
              [currentKind$]="currentKind$"
              (emitKind)="setCurrentKind($event)"
          ></chart-button>
        </ng-container>

        <chart-button
            *ngFor="let name of labels"
            (click)="toggleData(name)"
            [name]="name"
            [currentKind$]="currentKind$"
            (emitKind)="setCurrentKind($event)"
        ></chart-button>
      </div>
      <!-- <ng-container *ngIf="(parametersChart$ | async)"> -->
      <div class="chart__parametres__modal" [class.visibleParameters]="(parametersChart$ | async)">
        <button class="parametres__close_btn" (click)="closeParametersModal(false)">
          <span></span>
          <span></span>
        </button>
        <div class="parametres__title__container">
          <div class="parametres__title">Filters</div>
          <div class="parametres__checkAll">
            <mat-checkbox [checked]="checkedAll" #ckA (click)="selectAllParameters(ckA.checked)">
              <span *ngIf="!ckA.checked">Check all</span>
              <span *ngIf="ckA.checked">Uncheck all</span>
            </mat-checkbox>
          </div>
        </div>
        <ng-container *ngIf="isothermKind">
          <div class="parametres__content__container">
            <chart-button
                *ngFor="let singleKind of isothermKind; let i = index"
                (click)="selectedParameters(singleKind, selectedKind.activeIsotherm)"
                [selectedIsothermBtns$]="selectedLegendBtns$"
                [name]="singleKind"
                [isothermIndex]="i+1"
                [kind]="'isotherm'"
                #selectedKind
                class="parametres__content__item"
            ></chart-button>
          </div>
        </ng-container>
      </div>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
