.banner {
  background-color: $black_theme_banner_bg!important;
  border-bottom: none !important;

  .update__wrapper {
    color: $white !important;
  }

  .banner__menu__content {
    background-color: $black_theme_banner_bg!important;

    .menu__content--item {
      color: $white !important;
    }
  }

  .saveDashboard__wrapper, .title__subtitle, .info__name {
    color: $white !important;
  }

  .ico-save_upload {
    color: $orange !important;
  }

  .dropdown-menu {
    background-color: $black_theme_banner_bg !important;

    li {
      background-color: $black_theme_banner_bg !important;


      &:hover {
        a {
          color: $base-color !important;
        }
      }

      a {
        color: $white !important;
        @include transition();
      }
    }
  }

  .container__filters__counter, .filters__menu__container {
    .dropdown-menu {
      background-color: $black_theme_bg !important;

      li {
        background-color: $black_theme_bg !important;
      }
    }
  }
}

globalfilters {
  background-color: $black_theme_bg !important;
  color: $white !important;

  .container__filters, .dropdown-menu, .dropdown {
    background-color: $black_theme_bg !important;

    li {
      background-color: $black_theme_bg !important;
      color: $white !important;

      &.selectedCountry {
        color: $orange !important;
      }
    }
  }

  .filters__params {
    .params__title, .params__title--collapsed {
      color: $white !important;
    }
  }

  .colapse__text {
    color: $white !important;
  }

  .container__times {
    * {
      color: $white !important;
    }
  }
}

chart-list {
  background-color: $black_theme_bg_lighten !important;

  .container__chart-list {
    background-color: $black_theme_bg_lighten !important;
  }

  .chart-list {
    background-color: $black_theme_bg_lighten !important;

    &:after {
      background-color: $black_theme_bg_lighten !important;
    }

    .chart {
      background-color: transparent !important;
      .chart__content {
        background-color: $black_theme_bg !important;
      }
    }

    .chart__big{
      background-color: $black_theme_bg !important;

      .chart__content {
        background-color: $black_theme_bg !important;
      }

      .availability__menu {
        color: $white;
      }
    }
  }
}

.dataTable-wrapper {
  background-color: $black_theme_bg !important;

  .container {
    background-color: inherit !important;

    .tables-wrapper {
      .container__table-fixedrows {
        background-color: #464646 !important;
      }

      & td,
      th {
        border-left: 1px solid $borderColor !important;
        border-right: 1px solid $borderColor !important;
      }
    }

    .cell__main,
    .days-row__filler,
    .table__days-row {
      background-color: #292929 !important;
    }
  }
}

.chart__content--item, .header-wrapper {
  color: $white !important;
}

.mat-select {
  background-color: transparent !important;
  border: 1px solid $white !important;
  box-shadow: none !important;

  .mat-select-value,
  .mat-select-arrow,
  .mat-select-placeholder {
    color: $white !important;
  }
}

.mat-checkbox-frame {
  border-color: $white !important;
}

.table__days-row {
  color: $white !important;
}

table {
  color: $white !important;
}

.btn--availability {
  color: $white !important;
}

.container {
  background-color: $black_theme_bg_lighten !important;
  color: $white !important;
  @include transition();
}

.mat-form-field-label {
  color: $white !important;
  opacity: .4;
}

.header__title {
  color: $white !important;
}

.container__header {
  color: $white !important;
}

.outagesSource__copyright {
  color: $white !important;
}

.theme__container {
  .switchThemeButtons {
    .btns__default {
      border-color: $white !important;
    }
  }
}

.showDates {
  color: $white !important;
}

.filters__models {
  button {
    color: $white !important;
  }
}

.login-form__input {
  .mat-checkbox-inner-container {
    border: 2px solid rgba(0,0,0, .6);
    border-radius: 2px;
  }

  .mat-form-field-label {
    color: $black_theme_bg_lighten !important;
  }
}

.container__user-profile {
  .personal__information__container {
    background-color: $black_theme_bg;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.mat-form-field-underline {
  background-color: $borderColor !important;
}

.tabButton {
  background-color: $black_theme_bg !important;
}

.tabContent {
  background-color: $black_theme_bg_lighten !important;
}

.chartsSettings-container {
  .chartsSettings-container--table {
    td, th {
      border-color: $white !important;
    }
  }
}


.mat-select {
  .mat-select-arrow {
    &:after {
      background: $black_theme_bg !important;
    }
  }
}


.personal__information__container {
  .mat-input-element {
    color: $white;

    &::placeholder {
      color: $white !important;
    }
  }
}
