<div class="chart chart__big chart__big--prices"
     [class.hide]="chartStatus === 'hide'"
     [class.show]="chartStatus === 'show'">
  <div class="chart__content">
    <div class="chart__content--item">
      <div class="header-wrapper header-wrapper--column">
        <div class="chart__header">
          <div class="header__btns">
            <chart-button
                *ngFor="let country of countries$ | async"
                (click)="changeDataByCountry(country)"
                [currentCountry$]="currentCountry$"
                [country]="country"
                [name]="country.name"
                [kind]="'country'"
                [chartType]="chartTitle">
            </chart-button>
          </div>
          <div class="resizeButtons">
            <span *ngIf="fullscreenActive"
                  (click)="[setFullscreen(chartTitle, false), setFullscreen('Risk Management', false)]"
                  class="ico-minify"></span>
            <span *ngIf="!fullscreenActive"
                  (click)="[setFullscreen(chartTitle, true), setFullscreen('Risk Management', true)]"
                  class="ico-fullscreen"></span>
          </div>
        </div>
        <div class="title__wrapper">
          <div class="title">{{ chartTitle }}</div>
          <div *ngIf="backupData" class="chart__navigation">
            <div *ngIf="dateFilter.showBeforeArrow" (click)="changeDayFilter('sub')" #iconElement
                 class="prev-day ico-back"></div>
            <div *ngIf="dateFilter.startFormatted !== dateFilter.endFormatted"
                 class="current-date">{{ dateFilter.startFormatted + ' - ' + dateFilter.endFormatted }}</div>
            <div *ngIf="dateFilter.startFormatted === dateFilter.endFormatted"
                 class="current-date">{{ dateFilter.startFormatted }}</div>
            <div *ngIf="dateFilter.showNextArrow" (click)="changeDayFilter('add')" #iconElement
                 class="next-day ico-front"></div>
          </div>
          <ng-container *ngIf="(currentSelectedKind$ | async) === 'Prices'">
            <div class="buttons__wrapper buttons__wrapper--prices">
              <div class="buttons__wrapper--centerPrevNext">
                <div class="prevNextAsOf">
                  <div [class.showDates]="fullscreenActive">
                    <label class="chartHeader__prevNext" [class.checboxActive]="lastCheckBox.checked === true">
                      <input
                        #lastCheckBox
                        (click)="loadDataBasedOnRadioBtnValue(0, false)"
                        [checked]="lastToogleState"
                        type="radio"
                        name="loadDataBasedOnRadioBtnValue"
                        class="chartHeader__prevNext__toggleBtn"/>
                      <span class="ico-back chartHeader__prevNext__icon"></span>
                      Last
                    </label>
                    <ng-container *ngIf="fullscreenActive && pricesRunDates">
                      <span class="dates dates--red">{{ pricesRunDates.gfs[0] }}</span>
                      <span class="dates dates--blue">{{ pricesRunDates.hres[0] }}</span>
                    </ng-container>
                  </div>
                  <div class="chartHeader__prevNext--divider">/</div>
                  <div [class.showDates]="fullscreenActive">
                    <label class="chartHeader__prevNext" [class.checboxActive]="prevCheckBox.checked === true">
                      <input
                        #prevCheckBox
                        (click)="loadDataBasedOnRadioBtnValue(1, false)"
                        [checked]="prevToogleState"
                        type="radio"
                        name="loadDataBasedOnRadioBtnValue"
                        class="chartHeader__prevNext__toggleBtn"/>
                      Previous
                      <span class="ico-front chartHeader__prevNext__icon"></span>
                    </label>
                    <ng-container *ngIf="fullscreenActive && pricesRunDates">
                      <span class="dates dates--red">{{ pricesRunDates.gfs[1] }}</span>
                      <span class="dates dates--blue">{{ pricesRunDates.hres[1] }}</span>
                    </ng-container>
                  </div>
                </div>

                <mat-select *ngIf="pricesRunDates" #runDatesSelect
                            (selectionChange)="loadMoreData(runDatesSelect.value, 'prices')" placeholder="As of">
                  <mat-option [value]="null">As of</mat-option>
                  <ng-container *ngIf="pricesRunDates.gfs">
                    <mat-option *ngFor="let date of (pricesRunDates.gfs | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="pricesRunDates.hres && !pricesRunDates.gfs">
                    <mat-option *ngFor="let date of (pricesRunDates.hres | sliceRunDate)" [value]="date">
                      <span>{{ date }}</span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="canvas">
        <canvas
          #chart
          [class.resizeOn]="(resizeLoader$ | async)">
        </canvas>
      </div>
      <ng-container *ngIf="(resizeLoader$ | async)">
        <div class="loader__container">
          <div class="loader">
            <img src="../../../assets/img/loader.svg">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="filters__container filters__container--prices">
    <div class="filters__buttons">
      <mat-button-toggle-group (change)="filtersByDays($event.value)" class="buttons--group">
        <mat-button-toggle class="button--group" value="1" [checked]="currentOffset === 1">Day+1</mat-button-toggle>
        <mat-button-toggle class="button--group" value="10" [checked]="currentOffset === 10">Day+10</mat-button-toggle>
        <mat-button-toggle class="button--group" value="16" [checked]="currentOffset === 16">Day+16</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
