@import '../../../assets/css/variables';
@import '../../../assets/css/_chart.scss';

:host {
  &::ng-deep {

    chart-button:hover {
      cursor: pointer;
    }

    .icon {
      color: $base-color;

      &:hover {
        cursor: pointer;
      }
    }

    .menu__container {
      transform: translateY(40%) !important;
      bottom: -5px !important;
    }
  }

  .chart__header--prices {

    .header__tabs--prices {
      margin: 0 !important;
      flex-basis: 5%;
    }

    .header__btns--prices {
      margin: 0 !important;
      margin-right: 8% !important;

      @media #{$grid-max-large-xs-size} {
        max-width: 90% !important;
        margin-right: 0 !important;
      }

      @media #{$grid-large-xs-size} and #{$grid-max-large-lg-size} {
        max-width: 40%;
      }

      @media #{$grid-large-lg-size} {
        max-width: 40%;
      }
    }
  }

  .buttons__wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 40% !important;
    align-items: center;
    font-size: 11px;

    &.buttons__radio {
      &::ng-deep {
        .mat-checkbox-frame {
          border-radius: 100% !important;
          background-color: #e7e7e7 !important;
          border: none !important;
        }

        .mat-checkbox-background {
          border-radius: 100% !important;

          .mat-checkbox-checkmark {
            opacity: 0 !important;
          }
        }
      }
    }

    mat-radio-group {
      display: flex !important;
    }

    mat-checkbox {
      flex-basis: 20%;
    }

    mat-select {
      flex-basis: 30%;
      text-align: center;
      @include customSelect();
    }

    &::ng-deep {
      mat-checkbox label {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .mat-checkbox-label {
          font-size: 11px;
        }

        .mat-checkbox-inner-container {
          height: 12px;
          width: 12px;

          .mat-checkbox-ripple {
            position: absolute;
            left: calc(50% - 12px);
            top: calc(50% - 12px);
            height: 25px;
            width: 25px;
            z-index: 1;
            pointer-events: none;
          }
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      width: 250px;
      justify-content: space-around;
      font-size: 10px;

      .buttons__input {
        max-width: 30px !important;
        background-color: $inputBg !important;
        margin-left: 5px !important;
        border-radius: 30%;
      }
    }
  }
}

.disable-checkbox {
  pointer-events: none;
}