<div class="container__filters">
  <div class="filters__params filters__params--header">
    <div (click)="colapseFiltersMenu()" class="params__colapse">
      <span class="colapse__text">{{ 'Collapse' | translate }}</span>
      <span
      [class.ico-back]="!(filterMenuState$ | async)"
      [class.ico-front]="filterMenuState$ | async"
      class="colapse__icon"
      ></span>
    </div>
    <h3 [hidden]="filterMenuState$ | async" class="params__title">{{ 'General Parameters' | translate }}</h3>
    <h3 [hidden]="!(filterMenuState$ | async)" class="params__title--colapsed">{{ 'Models' | translate }}</h3>
  </div>

  <div class="filters__menu__container">
    <div [hidden]="filterMenuState$ | async">

      <div class="filters__params filters__params--zones">
        <div class="container__filters__counter">

          <div class="dropdown">
            <div class="dropdown-toggle" (click)="changeState()">
              <div class="dropdown__text">
                <span>{{ 'Zones' | translate }}</span>
                <div class="filters__counter">
                  <span>{{ selectedCountries.length }}</span>
                </div>
              </div>
              <div [class.ico-bottom]="dropMenuState === 'inactive'" [class.ico-top]="dropMenuState === 'active'" class="dropdown-toggle__icon"></div>
            </div>
            <ul [@dropMenu]="dropMenuState" class="dropdown-menu">
              <li *ngFor="let country of countries$ | async" [value]="country.name" highlight [selectedCountry]="country" [selectedCountries]="selectedCountries$ | async">
                {{ country.name }}
              </li>
            </ul>
          </div>

          <div class="filters__countries">
            <div *ngFor="let selectedCountry of selectedCountries$ | async" class="countries__chip">
              <span class="chip__text">{{ selectedCountry.iso.toUpperCase() }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="filters__params box">
        <div class="dropdown dropdown--models">
          <div class="dropdown-toggle">
            <div class="dropdown__text">
              <span>{{ 'Models' | translate }}</span>
            </div>
            <div (click)="changeModelState()" [class.ico-bottom]="dropModelMenuState === 'inactive'" [class.ico-top]="dropModelMenuState === 'active'" class="dropdown-toggle__icon"></div>
          </div>
          <div [@dropMenu]="dropModelMenuState" [class.toggleDropDown]="dropModelMenuState === 'active'" class="dropdown-menu params__models">
            <chart-button *ngFor="let model of (models$ | async); let isLastRow=last" (emitModel)="changeModel($event)" [currentModel$]="currentModel$" [model]="model"
              kind="models" [class.params__models--last]="isLastRow">
            </chart-button>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="!(filterMenuState$ | async)">
      <chart-button *ngFor="let model of (models$ | async)" (emitModel)="changeModel($event)" [currentModel$]="currentModel$" [model]="model"
        kind="models">
      </chart-button>
    </div>

    <div class="divider marginTop--20"></div>

    <div class="container__times">
      <p class="times__header">{{ 'Forecast publication times' | translate }}</p>
      <div class="times__models">
        <div [innerHTML]="forecastPublicationTimes"></div>
      </div>
    </div>
  </div>
</div>
