@import '../../../assets/css/variables';

$btns-background: #FFE8C1;
$btns-text: #F58221;

.container__filters {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  
  @media #{$grid-max-sm-size} {
    .params__models {
      width: 50%;
      margin: 0 auto;

      chart-button {
        width: 100%;
      }
    }

    .container__times {
      align-self: center;
      
      .times__models {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .filters__menu__container {
    .divider {
      height: 1px;
      background: $dividerColor;
      margin: 29px 8px 25px 11px;

      &.marginTop--20 {
        margin-top: 20px;
      }
    }
  }
}

.container__filters__counter {
  padding-bottom: 20px;

  @media #{$grid-large-lg-size} {
    flex-direction: inherit;
    padding-bottom: inherit;
  }

  .filters__countries {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .countries__chip {
      width: 19%;
      background-color: $base-color;
      height: 21px;

      @media #{$grid-max-lg-size} {
        width: calc(100% * 1/2 - 7px);
      }
    }
  }
}

.params__colapse {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 17px;

  &.disableToggle {
    pointer-events: none;
    opacity: 0.4;
  }

  .colapse__text {
    font-weight: 700;
    font-family: $basic-text-font;
    opacity: 0.73;
    color: #1b1b1b;
    margin-right: 12px;
  }

  .colapse__icon {
    color: $base-color;
    @include transition();
  }

  &:hover {
    .colapse__icon {
      @include transition();
      transform: translateX(-5px) scale(1.1);
    }
  }
}

.params__title {
  font-family: $accent-font;
  font-size: 12px;
  font-weight: 500;
  color: $basic-font-color;
}

.params__title--colapsed {
  color: #8c8c8c;
  font-family: $basic-text-font;
  font-size: 10px;
  font-weight: 700;
}

.filters__counter {
  width: 14px;
  height: 14px;
  position: relative;
  top: -9px;
  left: 5px;
  background-color: $base-color;
  border-radius: 50%;
  border: none;
  color: $white;
  text-align: center;
  font-size: 9px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $basic-text-font;
}


// btns filters styles
.filters__params {
  &--header {
    border-bottom: 1px solid $filter-breakLine;
    margin: 9px 8px 33px 11px;
  }
  &--zones {
    padding-left: 36px;
    padding-right: 32px;
  }
}

.countries__chip {
  border-radius: 30px;
  background-color: $btn-background-color;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 7px 2px 0;
  cursor: default;

  .chip__icon {
    font-size: 8px;
    margin-right: 5px;
    color: $btns-text;
    align-self: center;
    line-height: 14px;
  }

  .chip__text {
    padding: 1px 0;
    color: $btn-text-color;
    font-family: $basic-text-font;
    font-size: 10px;
    line-height: 10px;
    align-self: center;
    text-transform: capitalize;
    position: relative;
    top: 1px;
  }
}

.dropdown {
  width: 100%;
  min-width: 100%;
  margin-right: 15px;
  cursor: default;
}

.dropdown--models {
  width: 100%;
  padding-left: 36px;
  padding-right: 32px;
}

.dropdown-menu {
  max-height: 105px;
  overflow: auto;
  // padding: 1px;

  li {

    span {
      word-break: break-all;
    }

    .chip__icon {
      @include transition();
      visibility: hidden;
      opacity: 0;
    }

    &.selectedCountry {
      .chip__icon {
        @include transition();
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


.container__times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $basic-text-font;	
  font-size: 12px;	
  font-weight: 600;	
  line-height: 17px;
  padding-left: 36px;
  padding-right: 32px;

  .times__header {
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    margin: 0;
    color: #585858;
  }

  .times__gfs {
    margin-bottom: 12px;
  }

  .times__models {
    font-size: 9px;
  }
}
