<body style="margin: 0; padding: 0; font-size: 12px; font-family: Tahoma, Arial, sans-serif;">
  <div style="margin: 0 auto; width: 613px; border: 1px solid #e3e5e7;">
    <table width="100%" style="max-width: 613px; border-spacing: 0;">
      <tr style="height: 136px; background-color: #ffffff;">
        <td>
          <img src='{{baseUrl}}/assets/img/logo-black.jpg' alt="core_logo"
               style="display: block; margin: 0 auto; max-width: 161px; max-height: 48px"/>
        </td>
      </tr>
      <tr style="height: 207px; width: 100%; background-color: #575656;">
        <td>
          <img src='{{baseUrl}}/assets/img/tick-inside-circle.png' alt="tick_decoration"
               style="display: block; margin: 0 auto; max-width: 64px; max-height: 64px"/>
          <p style="display: block; margin: 0 auto; font-size: 32px; font-weight: 400; color: #ffffff; max-width: 284px; max-height: 49px; margin-top: 32px">
            Verify Your Account</p>
        </td>
      </tr>
      <tr style="height: 110px; background-color: #ffffff;">
        <td style="width: 100%; font-weight: 400; font-size: 16px; line-height: 27px; padding: 32px 32px 0 26px">
          <p style="margin: 0">Hi <span style="text-transform: capitalize">{{name}}</span></p>
          <p style="margin: 0">Thanks for joining us! All that’s left to do is verify your account by clicking the button
            below.</p>
        </td>
      </tr>
      <tr style="background-color: #ffffff;">
        <td style="width: 100%; font-size: 18px; line-height: 14px; font-weight: 700; text-transform: capitalize; padding: 0 32px 0 26px;">
          <p style="text-transform: initial">Your account information</p>
          <p>
            <span style="width: 25%; display: inline-block;">Login</span>
            <span style="font-weight: 400; text-transform: none;">{{login}}</span>
          </p>
          <p>
            <span style="width: 25%; display: inline-block;">Email address</span>
            <span style="font-weight: 400; text-transform: none;">{{email}}</span>
          </p>
          <p style="border-bottom:1px solid #e3e5e7; padding-bottom: 20px">
            <span style="width: 25%; display: inline-block;">Password</span>
            <span style="width: 50%; font-weight: 400; text-transform: none;">{{password}}</span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{baseUrl}}"
             style="color: #fff; font-size: 15px;border-radius: 28px; padding: 19px 22px;
                 text-transform: uppercase; background-color: #f58221; display: block;
                 max-width: 230px;text-align: center; text-decoration: none; margin: 31px auto 33px; font-weight: 700"
          >Verify your account</a>
        </td>
      </tr>
      <tr style="height: 67px; background-color: #ffffff;">
        <td style="width: 100%; font-weight: 400; font-size: 15px; line-height: 27px; padding: 0 32px 30px 26px">
          <p style="margin: 0">
            If you are having issues with your account, please don’t hesitate to <a href="https://www.cor-e.fr/accueil.html/accueil.html#contact" style="color: #155285; text-decoration: underline">contact us.</a></br>
            Thanks !
          </p>
        </td>
      </tr>
    </table>
    <div style="height: 78px; max-width: 613px; background-color: #f5f7f9; margin:0 auto;">
      <p style="color: #292929; font-size: 14px; line-height: 27px; text-align: center; max-width: 500px; margin: 0 auto; padding-top: 18px">
        You’re receiving this email because you have a Cor-e account. If you are not sure why you’re receiving this,
        please <a href="https://www.cor-e.fr/accueil.html/accueil.html#contact" style="color: inherit">contact us</a>.
      </p>
    </div>
  </div>
</body>