@import '../../../assets/css/variables';
@import '../../../assets/css/_chart';

$max-height: 180px;
$min-cell-width: 120px;
$main-cell-width: 110px;
$border: 1px solid rgba(41,41,41, 0.4);

.dataTable-wrapper {
  height: 100%;
  position: relative;
  background-color: white;
  padding: 0 10px 0 10px;

  @media #{$grid-max-large-lg-size} {
    min-height: 250px;
  }

  .container {
    height: 100%;

    &::ng-deep {
      & .container__header {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        & mat-select {
          color: $base-color;
          font-size: 9px;

          @media #{$grid-max-sm-size} {
            width: 40%;
          }
        }
      }
      .header__title {
        height: 15px;
        color: $country-dark-color;
        font-family: $accent-font;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
      }

      .header__select {
        box-shadow: inset 0 -1px 2px #ececec;
        border-radius: 30px;
        font-size: 9px;
        line-height: 9px;
        font-weight: 400;
        text-align: center;
        padding: 6px;
        width: 150px;
        display: block;
        margin: 0 auto;
        border: 1px solid #919191;

        &--hourly{
          margin: 0;
        }
      }

      .header__buttons {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: $base-color;
        font-weight: 700;

        span {
          cursor: pointer;
          margin-left: 2px;
          @include transition();
          transform: scale(1);
          &.ico-fullscreen {
            &:hover {
              transform: scale(.9);
            }

            @media #{$grid-max-md-size} {
              display: none;
            }
          }
          &.ico-minify {
            &:hover {
              transform: scale(.9);
            }
          }
          &.ico-time {
            &:hover {
              transform: scale(.9);
            }
          }
          &.ico-calendar {
            &:hover {
              transform: scale(.9);
            }
          }
        }
      }

      .tables-wrapper{
        display: flex;
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: auto;
        max-height: $max-height;
      }

      .container__table {
        overflow-y: visible;
        overflow-x: visible;
        max-height: none;
        min-height: $max-height;
        padding-top: 10px;
        height: 100%;
        margin-right: -240px;

        table {
          thead {
            > tr {
              border-top: 1px solid;
            }
          }
          &:last-of-type {
            border-bottom: 1px solid;
          }
        }

        &--fixed{
          position: sticky;
          right: 0;
          min-width: 240px;
          max-height: none;
          overflow-y: hidden;
          overflow-x: hidden;
          padding-right: 0px;
          padding-top: 35px;

          @media #{$grid-max-sm-size} {
            position: inherit;
          }

          .table__days-row{
            background-color: $white;
          }
        }

        &-fixedrows{
          background-color: #f6f6f6;
        }

        &::ng-deep {
          & table {
            color: $country-dark-color;
            font-family: $basic-text-font;
            font-size: 10px;
            position: relative;

            & tr {
              min-height: 10px;
              font-size: 10px;
              padding: 0;
              margin-bottom: 10px;
              @include transition();

              &:hover {
                background-color: $dataTableRowHover;
              }
            }
            & td,
            th {
              border-right: $border;
              border-left: $border;

            }
          }
          .cell__main {
            font-weight: bold;
            line-height: 16px;
            min-width: $main-cell-width;
            padding: 0 4px 0 10px;
            position: sticky;
            left: -1px;
            background-color: $white;
            z-index: 1;

            &::before{
              content: '';
              position: absolute;
              top: -1px;
              height: calc(100% + 2px);
              left: -1px;
              width: 1px;
            }

            &::after{
              content: '';
              position: absolute;
              top: -1px;
              height: calc(100% + 2px);
              right: -1px;
              width: 1px;
            }
          }
          .cell__content {
            min-width: $min-cell-width;
            padding: 4px 12px;

            .content {
              display: flex;
              justify-content: space-between;
            }

          }

          .cell__content--hourly {
            min-width: $min-cell-width/2;

            .content {
              justify-content: center;
            }
          }

          .cell__series {
            font-weight: normal;
            text-transform: capitalize;
          }

          .cell__country {
            font-weight: bold;
            line-height: 16px;
          }

          .cell__days {
            text-align: center;
          }

          .cell__base {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .days-row__filler{
        background-color: $white;
        position: sticky;
        left: 0;
        top: 0;
        height: 25px;
        width: 110px;
        margin-top: -25px;
        z-index: 2;
      }

      .table__days-row {
        display: flex;
        margin-bottom: 10px;
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 1;

        &--fixed {
          position: sticky;
          top: 0;
          right: 0;
          height: 15px;
          z-index: 1;
          margin-top: 10px;
          margin-left: 240px;
          margin-right: -240px;

          @media #{$grid-max-sm-size} {
            position: inherit;
          }

          .days-row__cell:nth-child(1) {
            min-width: 120px !important;
          }
        }

        .days-row__cell {
          min-width: $min-cell-width;
          text-align: center;
          font-family: $basic-text-font;
          font-size: 10px;

          &:nth-child(1) {
            min-width: $main-cell-width;
          }
        }

        .days-row__cell--hourly {
          min-width: $min-cell-width/2;
        }
      }

      .noHeight-limit {
        max-height: 90% !important;
        min-height: 90%;

        &::ng-deep {
          .cell__content {
            min-width: 120px;
          }

          .cell__content--hourly {
            min-width: 80px !important;;
          }

          .days-row__cell--hourly {
            min-width: 80px !important;
          }
        }
      }

      .auto-height {
        height: 100%;
      }
    }
  }
}


.hide {
  opacity: 0;
  visibility: hidden;
  display: none !important;
  transition: all 100ms ease;
}

.show {
  opacity: 1;
  visibility: show;
  display: block;
  transition: all 100ms ease;
}

::ng-deep{
  hourly-table{
    height: 100%;

    &.hourly-table--nodata{
      width: 100%;
    }
  }
}

.chartnav-wrapper{
  display: flex;
  justify-content: flex-start;
  height: 34px;
  padding-bottom: 10px;
}

.chart__navigation{
  width: calc(50% - 75px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  color: $base-color;

  .prev-day {
    @include transition();
    cursor: pointer;

    &:hover {
      transform: translateX(-1px);
    }
  }

  .current-date {
    font-size: 10px;

    @media #{$grid-lg-size} and #{$grid-max-xl-size} {
      font-size: 9px;
    }
  }

  .next-day {
    @include transition();
    cursor: pointer;

    &:hover {
      transform: translateX(1px);
    }
  }
}

.nodata-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
}
