<div class="dataTable-wrapper canvas-shadow">
  <ng-container *ngIf="(visibilityStatus$ | async) === false">
    <div class="loader__container">
      <div class="loader">
        <img src="../../../assets/img/loader.svg">
      </div>
    </div>
  </ng-container>

  <div [class.auto-height]="fullscreenActive" [class.hide]="(visibilityStatus$ | async) === false" [class.show]="(visibilityStatus$ | async) === true"
    class="container">
    <div class="container__header">
      <div class="header__title">Data</div>
      <div class="header__buttons">
        <span *ngIf="!savedToCsv && !viewHourly" (click)="saveDataToCsv()" class="ico-save"></span>
        <span *ngIf="!savedToCsv && viewHourly" (click)="saveHourlyDataToCsv()" class="ico-save"></span>
        <mat-spinner *ngIf="savedToCsv" diameter="17"></mat-spinner>
        <span *ngIf="!viewHourly" (click)="changeView()" class="ico-time"></span>
        <span *ngIf="viewHourly" (click)="changeView()" class="ico-calendar"></span>
        <span *ngIf="fullscreenActive" (click)="setFullscreen('Table', false)" class="ico-minify"></span>
        <span *ngIf="!fullscreenActive" (click)="setFullscreen('Table', true)" class="ico-fullscreen"></span>
      </div>
    </div>

    <div *ngIf="backupData && backupData.length" class="chartnav-wrapper">
      <div *ngIf="viewHourly" class="chart__navigation">
        <div *ngIf="prevNextDayAvailable[0] && todayFormatted !== hourlyDateFilter" (click)="changeDayFilter('sub')" #iconElement class="prev-day ico-back"></div>
        <div *ngIf="hourlyDateFilter" class="current-date">{{ hourlyDateFilter }}</div>    
        <div *ngIf="prevNextDayAvailable[1]" (click)="changeDayFilter('add')" #iconElement class="next-day ico-front"></div>
      </div>
      <mat-select class="header__select" [class.header__select--hourly]="viewHourly" placeholder="Select data kind" [formControl]="selectCtrl" multiple>
        <mat-select-trigger>
          {{ selectCtrl.value ? selectCtrl.value[0] : '' }}
          <span *ngIf="selectCtrl.value?.length > 1" class="example-additional-selection">
            (+{{ selectCtrl.value.length - 1 }} {{ selectCtrl.value?.length === 2 ? 'other' : 'others' }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let option of selectOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>

    <ng-container *ngIf="!viewHourly && backupData.length">
      <div class="tables-wrapper" [class.noHeight-limit]="fullscreenActive">
        <div class="container__table">
          <div class="table__days-row">
            <span class="days-row__cell"></span>
            <div *ngFor="let d of columnsToDisplay" class="days-row__cell">
              <span>{{ d }}</span>
            </div>
          </div>
          <table *ngFor="let dataSource of dataSources; let i = index;">
            <thead>
              <div *ngIf="i === 0" class="days-row__filler"></div>
              <tr class="row">
                <th class="cell__main">{{ dataSource.country }}</th>
                <th *ngFor="let d of columnsToDisplay" class="cell__content">
                  <div class="content">
                    <span>Base</span>
                    <span>Peak</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let series of dataSource.series" class="row">
                <td class="cell__main cell__series">{{ series.name }}</td>
                <ng-container *ngIf="series.data.length">
                  <td *ngFor="let data of series.data" class="cell__content">
                    <div *ngIf="!!data" class="content">
                      <span>{{ !!data.base ? data.base : '-' }}</span>
                      <span>{{ !!data.peak ? data.peak : '-' }}</span>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table__days-row table__days-row--fixed">
          <div *ngFor="let d of staticColumnsToDisplay" class="days-row__cell">
            <span>{{ d }}</span>
          </div>
        </div>
        <div class="container__table container__table--fixed">
          <table class="container__table-fixedrows" *ngFor="let dataSource of fixedSourcesDisplay">
            <thead>
              <tr class="row">
                <th *ngFor="let d of staticColumnsToDisplay" class="cell__content">
                  <div class="content">
                    <span>Base</span>
                    <span>Peak</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let series of dataSource.series" class="row">
                <ng-container *ngIf="series.data.length">
                  <td *ngFor="let data of series.data" class="cell__content">
                    <div *ngIf="!!data" class="content">
                      <span>{{ !!data.base ? data.base : '-' }}</span>
                      <span>{{ !!data.peak ? data.peak : '-' }}</span>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="viewHourly && backupData.length">
      <div class="tables-wrapper" [class.noHeight-limit]="fullscreenActive">
        <hourly-table [class.hourly-table--nodata]="!(dataHourlySources$ | async)?.length" [fullscreenActive]="fullscreenActive" [dataSources$]="dataHourlySources$" [columnsToDisplay$]="hourlyColumnsToDisplay$">
        </hourly-table>
      </div>
    </ng-container>
  </div>
</div>
