/*!
 * Bootstrap Reboot v4.0.0-beta.2 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}@-ms-viewport{width:device-width}article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus{outline:0!important}hr{box-sizing:content-box;height:0;overflow:visible}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0}address{margin-bottom:1rem;font-style:normal;line-height:inherit}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-left:0}blockquote{margin:0 0 1rem}dfn{font-style:italic}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}a:not([href]):not([tabindex]){color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}a:not([href]):not([tabindex]):focus{outline:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg:not(:root){overflow:hidden}[role=button],a,area,button,input:not([type=range]),label,select,summary,textarea{-ms-touch-action:manipulation;touch-action:manipulation}table{border-collapse:collapse}caption{padding-top:.75rem;padding-bottom:.75rem;color:#868e96;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item}template{display:none}[hidden]{display:none!important}

@import '../src/assets/css/_icons.scss';
@import './theme.scss';
@import 'assets/css/material_theme';
@import './assets/css/icons';
@import './assets/css/grid';

 body,
 html {
   height: 100%;
   user-select: none;
   @include transition();

   overflow-x: hidden;
 }

 body {
   @include transition();
   background-color: transparent;

   input {
     @media (max-width: 540px) {
       font-size: 16px !important;
       line-height: 18px !important;
     }
   }
 }

 * {
   outline: none !important;
 }

 // Scrollbar
*::-webkit-scrollbar {
  width: .3em;
  height: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: $base-color;
  border-radius: 20px;
}


 .btn,
 .btn.mat-button {
   font-family: $accent-font;
   border-radius: 30px !important;
   max-width: 280px;
   color: $btn-text-color;
   outline: none;
   background-color: $base-color !important;
   border-color: $base-color !important;
   cursor: pointer;

   &:disabled {
     background-color: $disabled-color;
     border-color: $disabled-color;
     &:hover {
       background-color: $disabled-color;
       border-color: $disabled-color;
     }
   }
 }

 .btn-primary {
   background-color: $base-color !important;
   border-color: $base-color !important;
   &:hover,
   &:active,
   &:focus {
     background-color: darken($base-color, 5%);
     border-color: $base-color;
   }
 }

 .btn-lg {
   font-size: 18px;
   font-weight: 700;
 }

 .login-form .mat-form-field-label {
   font-size: 13px;
   font-weight: 400;
 }

 .mat-option {
    color: $basic-font-color;
    font-family: $basic-text-font;
    background-color: #F5F5F5;
    font-size: 12px;
    line-height: 18px;

    &:hover:not(.mat-option-disabled) {
      background-color: $btn-text-color;
    }
 }

.ms-drop {
  color: $dropdown-text-color;

  .scrollbar {
    width: 3px;
    height: 19px;
    border-radius: 2px;
   }

  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: $base-color;
  }
}

// dropdown menu styles
.dropdown  {
  position: relative;
  width: 80px;
  font-family: $basic-text-font;
  font-size: 11px;
  font-weight: 700;
  background-color: $white;

  .dropdown__text {
    display: flex;
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .dropdown-toggle__icon {
    color: $base-color;
    margin-left: 7px;
    cursor: pointer;

    &:nth-child(2) {
      margin-left: 11px;
    }
  }
}

.dropdown-menu {
  display: block;
  right: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  width: 100%;
  background-color: $white;

  @media #{$grid-max-sm-size} {
    display: flex;
    flex-wrap: wrap;

    &.dropdown-menu--block {
      display: block;

      li {
        width: 100% !important;
      }
    }
  }

  li {
    cursor: pointer;
    font-family: $basic-text-font;
    font-weight: 400;
    font-size: 10px;
    background-color: $white;
    padding: 0 0 4px 5px;
    color: $black;

    @media #{$grid-max-sm-size} {
      width: calc(100% * 1/2);
    }

    &:hover {
      a {
        color: $base-color;
      }
    }
  }
}

.canvas-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.003), 0 1px 5px 0 rgba(0,0,0,.003);
}

// loading animation

 .loadingAnimation {
  // background: linear-gradient(-45deg, #f58220,  #f1f1f1);
  background: linear-gradient(-45deg, #e8e8e8 0%, #e0e0e0, #c0c0c0 100%);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;

   .chart {
     visibility: hidden !important;
     opacity: 0 !important;
   }

   &.bigLoader {
     min-height: 30vh;
     position: relative;
     z-index: 99;
   }

   &.smallLoader {
     max-height: 24vh;
     position: relative;
     top: 40px;
   }
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

//Material Styles
//.mat-optgroup-label {
//  background: $base-color;
//  text-transform: uppercase;
//  font-weight: 700;
//  color: white;
//}

.mat-option {
  background: transparent;
}

.mat-radio-outer-circle {
  height: 10px !important;
  width: 10px !important;
}

.mat-radio-outer-circle {
  left: 5px !important;
  top: 5px !important;
  background: $inputBg !important;
  border-color: $inputBg !important;
}

.mat-radio-label-content {
  display: flex !important;
  align-items: center !important;
}

input {
  border-bottom: none;
  outline: none;
}

label {
  margin-bottom: 0;
}

.mat-snack-bar-container {
  color: $base-color !important;
  background: white !important;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,.3);
  font-weight: 700;
}

.mat-simple-snackbar-action {
  color: $base-color !important;
  font-weight: 700;
}

.slick-list {
  padding: 5px 0 !important;
}

.mat-table {
  background: transparent !important;
}

.mat-select {
  .mat-select-arrow {
    position: relative;

    &:after {
      content: " ";
      width: 4px;
      height: 7px;
      background: white;
      position: absolute;
      left: -1px;
      top: -10px;
      transform: rotate(45deg);
    }
  }
}


// STYLE MOTYWÓW

.theme__container {
  .btns__default {
    color: $black_theme_bg_lighten;
    background: $white;
  }

  .btns__dark {
    background: $black_theme_bg_lighten;
    color: $white;
  }

  .mat-button-toggle-checked {
    color: $orange;
  }
}

.default_theme {
  @import 'assets/css/themes/default_theme';
}

.dark_theme {
  @import 'assets/css/themes/dark_theme';
}
