@import '~@angular/material/_theming';
@import 'assets/css/material_theme';
@import 'assets/css/variables';
@include mat-core();

$primary: mat-palette($primary);
$accent: mat-palette($secondary);
$warn: mat-palette($warn);
$theme: mat-light-theme($primary, $accent, $warn);
$white-07-opacity: rgba(white, 0.7);

@include angular-material-theme($theme);

.filters__button.mat-button-toggle.mat-button-toggle-checked {
  color: $white;
  background-color: lighten($primary-color, 15%);
}

button.buttons__display.mat-fab.mat-primary,
button.buttons__add.mat-fab.mat-primary,
button.navbar__button.mat-fab.mat-primary {
  z-index: 2;
  background-color: lighten($primary-color, 15%);
}

button.content__edit-btn.mat-fab.mat-accent {
  z-index: 2;
  background-color: lighten($secondary-color, 15%);
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $bg-color;
}

.pulsing-loader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: $primary-main;
  border-radius: 100%;
  animation: pulsingCircle 1s infinite ease-in-out;
}

@keyframes pulsingCircle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.file-manager-dialog > mat-dialog-container {
  overflow: unset;
}

.entity-group-dialog {
  width: 50vw;
}

mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}
.mat-button-toggle-label-content {
  padding: 1px 10px !important;
}
