<div [class.noHeight-limit]="fullscreenActive" class="container__table">
  <div class="table__days-row">
    <span class="days-row__cell"></span>
    <div *ngFor="let d of columnsToDisplay$ | async" class="days-row__cell days-row__cell--hourly">
      <span>{{ d }}</span>
    </div>
  </div>
  <div *ngIf="!(dataSources$ | async)?.length" class="nodata-container">
    <span class="nodata-container__text">
      There is no data to display for selected day.
    </span>
  </div>
  <ng-container *ngFor="let dataSource of (dataSources$ | async); let i = index;">
    <table *ngIf="dataSource.series?.length">
      <thead>
      <div *ngIf="i === 0" class="days-row__filler"></div>
      <tr class="row">
        <th class="cell__main">{{ dataSource.country }}</th>
        <ng-container *ngIf="dataSource.series.length">
          <th *ngFor="let row of ' '.repeat(24).split('')"></th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let series of dataSource.series" class="row">
        <td class="cell__main cell__series">{{ series.name }}</td>
        <td *ngFor="let data of series.data" class="cell__content cell__content--hourly">
          <div *ngIf="!!data" class="content">
            <span>{{ !!data.value ? data.value : '-' }}</span>
          </div>
          <div *ngIf="!(!!data)" class="content">
            <span>-</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="!dataSource.series?.length && i === 0" class="nodata-container">
      <span class="nodata-container__text">
        There is no data for selected kind.
      </span>
    </div>
  </ng-container>
</div>
