<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>hydroState</strong>: {{ data.hydroState }}</li>
        <li><strong>pricesState</strong>: {{ data.pricesState }}</li>
        <li><strong>availabilityState</strong>: {{ data.availabilityState }}</li>
        <li><strong>tableState</strong>: {{ data.tableState }}</li>
        <li><strong>countryIso</strong>: {{ data.countryIso }}</li>
        <li><strong>phonePrefix</strong>: {{ data.phonePrefix }}</li>
        <li><strong>themeDisplay</strong>: {{ data.themeDisplay }}</li>
        <li><strong>weatherState</strong>: {{ data.weatherState }}</li>
        <li><strong>demandState</strong>: {{ data.demandState }}</li>
        <li><strong>street</strong>: {{ data.street }}</li>
        <li><strong>zipCode</strong>: {{ data.zipCode }}</li>
        <li><strong>city</strong>: {{ data.city }}</li>
        <li><strong>phoneNumber</strong>: {{ data.phoneNumber }}</li>
        <li><strong>filterCountries</strong>: {{ data.filterCountries }}</li>
        <li><strong>filterModels</strong>: {{ data.filterModels }}</li>
        <li><strong>lastName</strong>: {{ data.lastName }}</li>
        <li><strong>firstName</strong>: {{ data.firstName }}</li>
        <li><strong>renewablesState</strong>: {{ data.renewablesState }}</li>
        <li><strong>activeJwt</strong>: {{ data.activeJwt }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
