<div class="logo-container">
  <img src="../../../assets/img/logo-white.svg" alt="Cor-e" class="logo-container__img" />
</div>
<div class="login-form">
  <div *ngIf="!isRecoveryFormVisible">
    <p class="login-form__title">{{ 'Login' | translate }}</p>
    <form [formGroup]="loginForm" class="login-form__content">
      <mat-form-field class="login-form__input">
        <input matInput placeholder="{{ 'Email / Username' | translate }}" [autofocus]="true" formControlName="login" required>
        <span *ngIf="!loginForm.controls['login'].hasError('required')" class="ico-circle_check login-form__input--icon"></span>
        <span *ngIf="loginForm.controls['login'].hasError('required') && loginForm.controls['login'].dirty" class="ico-circle_close login-form__input--icon"></span>
      </mat-form-field>
      <mat-form-field class="login-form__input">
        <input matInput placeholder="{{ 'Password' | translate }}" type="password" formControlName="password" #password required >
        <!--<span [class.ico-visible]="!passwordVisible" class="ico-hidden login-form__input&#45;&#45;icon" (click)="togglePasswordVisibility(password)"></span>-->
        <mat-hint class="hint-pointer" (click)="toggleRecoveryForm()" align="end">{{ 'Forgot your password?' | translate }}</mat-hint>
      </mat-form-field>
      <div class="login-form__input">
        <mat-checkbox class="form-check" [(ngModel)]="rememberUser" [ngModelOptions]="{standalone: true}">
          {{ 'Remember me' | translate }}
        </mat-checkbox>
      </div>
      <div *ngIf="requireCaptcha" #reCaptcha="recaptcha" recaptcha [key]="configuration.captchaKey" formControlName="captcha"
        class="login-form__captcha" (captchaResponse)="onCaptchaResponse()" (change)="onCaptchaResponse()"></div>
      <mat-error *ngIf="!validLogin">
        {{ 'Wrong user/password' | translate }}
      </mat-error>
      <mat-error *ngIf="captchaInvalid">
        {{ 'Captcha is not filled' | translate }}
      </mat-error>
      <button (click)="login()" class="btn btn-primary btn-lg"
      >{{ 'Login' | translate }}</button>
    </form>
  </div>
  <div *ngIf="isRecoveryFormVisible">
    <p class="login-form__title">{{ 'Recover your password' | translate }}</p>
    <form *ngIf="!isPasswordRecoverySent" [formGroup]="recoveryForm" class="login-form__content">
      <mat-form-field class="login-form__input">
        <input type="email" matInput placeholder="{{ 'Email' | translate }}" [autofocus]="true" formControlName="email" required
          ngModel email>
        <span *ngIf="!(recoveryForm.controls['email'].hasError('required') || recoveryForm.controls['email'].hasError('email'))"
          class="ico-circle_check login-form__input--icon"></span>
        <span *ngIf="(recoveryForm.controls['email'].hasError('required') || recoveryForm.controls['email'].hasError('email')) && recoveryForm.controls['email'].dirty"
          class="ico-circle_close login-form__input--icon"></span>
        <mat-hint class="hint-pointer" (click)="toggleRecoveryForm()" align="end">{{ 'Back to login' | translate }}</mat-hint>
      </mat-form-field>
      <div #reCaptcha="recaptcha" recaptcha [key]="configuration.captchaKey" formControlName="captcha" class="login-form__captcha"
        (captchaResponse)="onCaptchaResponse()" (change)="onCaptchaResponse()"></div>
      <button mat-button type="button" (click)="recoverPassword()" class="btn btn-primary btn-lg" [disabled]="recoveryForm.invalid">
        {{ 'Recover password' | translate }}
      </button>
    </form>
    <p *ngIf="isPasswordRecoverySent" class="recovery-sent-msg">{{ 'Message with a link was sent to your email address. Check your inbox.' | translate }}</p>
  </div>
</div>

