@import '../../../assets/css/variables';
@import '../../../assets/css/_chart.scss';

:host {
  &::ng-deep {

    chart-button:hover {
      cursor: pointer;
    }

    .chart__content {
      height: 90%;
    }

    .icon {
      color: $base-color;

      &:hover {
        cursor: pointer;
      }
    }

    .menu__container {
      transform: translateY(40%) !important;
      bottom: -5px !important;
    }
  }
}
