<div class="chart chart__big chart__big--boxplot"
     [class.hide]="chartStatus === 'hide'"
     [class.show]="chartStatus === 'show'">

    <div class="chart__content chart__content--no-TopPadding">
      <div class="chart__content--item">
        <div class="canvas">
          <canvas
            #chartBoxplot
            [class.resizeOn]="(resizeLoader$ | async)">
          </canvas>
        </div>
        <ng-container *ngIf="(resizeLoader$ | async)">
          <div class="loader__container">
            <div class="loader">
              <img src="../../../assets/img/loader.svg">
            </div>
          </div>
        </ng-container>
      </div>
    </div>
</div>
