<div class="chart chart__small"
     [class.hide]="chartStatus === 'hide'"
     [class.show]="chartStatus === 'show'">
  <div class="chart__content canvas-shadow">
    <div class="chart__content--item">
      <div class="chart__countries">
        <div class="countries__wrapper">
          <chart-button
              *ngFor="let country of countries$ | async"
              (click)="changeDataByCountry(country)"
              (emitCountry)="setChartSelectedBtn(country)"
              [name]="country.name"
              [country]="country"
              [kind]="'country'"
              [chartType]="chartTitle"
              [currentCountry$]="currentCountry$"
          ></chart-button>
        </div>
        <div class="resizeButtons">
          <span *ngIf="viewFullRange" (click)="changeView()" class="ico-time"></span>
          <span *ngIf="!viewFullRange" (click)="changeView()" class="ico-calendar"></span>
          <span *ngIf="fullscreenActive" (click)="setFullscreen(chartTitle, false)" class="ico-minify"></span>
          <span *ngIf="!fullscreenActive" (click)="setFullscreen(chartTitle, true)" class="ico-fullscreen"></span>
        </div>
      </div>
      <div class="header-wrapper">
        <div class="title__wrapper">
          <div class="title">{{ chartTitle }}</div>
          <div class="buttons__wrapper">
            <div *ngIf="!viewFullRange" class="chart__navigation" [class.loaderOn]="(resizeLoader$ | async)">
              <div *ngIf="(firstDate$ | async) !== currentDate" (click)="loadDay(0)" #iconElement
                   class="prev-day ico-back"></div>
              <div class="current-date">{{ currentDate }}</div>
              <div *ngIf="(lastDate$ | async) !== currentDate" (click)="loadDay(1)" #iconElement
                   class="next-day ico-front"></div>
            </div>

            <div class="prevNextAsOf">
              <div [class.showDates]="fullscreenActive">
                <label class="chartHeader__prevNext" [class.checboxActive]="lastToogleState === true">
                  <input
                    #lastCheckBox
                    (click)="checkCheckBoxKind(lastCheckBox.checked,'last')"
                    [checked]="lastToogleState"
                    type="checkbox"
                    class="chartHeader__prevNext__toggleBtn"/>
                  <span class="ico-back chartHeader__prevNext__icon"></span> Last
                </label>
                <ng-container *ngIf="fullscreenActive">
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Demand'">
                    <span *ngIf="demandRunDates.gfs" class="dates dates--red">{{ demandRunDates.gfs[0] }}</span>
                    <span *ngIf="demandRunDates.hres" class="dates dates--blue">{{ demandRunDates.hres[0] }}</span>
                  </ng-container>
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Residual Demand'">
                    <span *ngIf="residualDemandRunDates.gfs"
                          class="dates dates--red">{{ residualDemandRunDates.gfs[0] }}</span>
                    <span *ngIf="residualDemandRunDates.hres"
                          class="dates dates--blue">{{ residualDemandRunDates.hres[0] }}</span>
                  </ng-container>
                </ng-container>
              </div>
              <div class="chartHeader__prevNext--divider">/</div>
              <div [class.showDates]="fullscreenActive">
                <label class="chartHeader__prevNext" [class.checboxActive]="prevToogleState === true">
                  <input
                    #prevCheckBox
                    (click)="checkCheckBoxKind(prevCheckBox.checked,'prev')"
                    [checked]="prevToogleState"
                    type="checkbox"
                    class="chartHeader__prevNext__toggleBtn"/>
                  Previous <span class="ico-front chartHeader__prevNext__icon"></span>
                </label>
                <ng-container *ngIf="fullscreenActive">
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Demand'">
                    <span *ngIf="demandRunDates.gfs" class="dates dates--red">{{ demandRunDates.gfs[1] }}</span>
                    <span *ngIf="demandRunDates.hres" class="dates dates--blue">{{ demandRunDates.hres[1] }}</span>
                  </ng-container>
                  <ng-container *ngIf="(currentSelectedKind$ | async) === 'Residual Demand'">
                    <span *ngIf="residualDemandRunDates.gfs"
                          class="dates dates--red">{{ residualDemandRunDates.gfs[1] }}</span>
                    <span *ngIf="residualDemandRunDates.hres"
                          class="dates dates--blue">{{ residualDemandRunDates.hres[1] }}</span>
                  </ng-container>
                </ng-container>
              </div>

              <ng-container *ngIf="(currentSelectedKind$ | async) === 'Demand'">
                <mat-select *ngIf="demandRunDates" #runDatesSelect
                            (selectionChange)="loadMoreData(runDatesSelect.value, 'demand')" placeholder="As of">
                  <mat-option [value]="null">As of</mat-option>
                  <ng-container *ngIf="demandRunDates.gfs">
                    <mat-option *ngFor="let date of (demandRunDates.gfs | sliceRunDate); let i = index" [value]="date" title="{{ date }}">
                      {{ date }}
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="demandRunDates.hres && !demandRunDates.gfs">
                    <mat-option *ngFor="let date of (demandRunDates.hres | sliceRunDate); let i = index" [value]="date" title="{{ date }}">
                      {{ date }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>

              <ng-container *ngIf="(currentSelectedKind$ | async) === 'Residual Demand'">
                <mat-select *ngIf="residualDemandRunDates" #runDatesSelect
                            (selectionChange)="loadMoreData(runDatesSelect.value, 'residual-demand')"
                            placeholder="As of">
                  <mat-option [value]="null">As of</mat-option>
                  <ng-container *ngIf="residualDemandRunDates.gfs">
                    <mat-option *ngFor="let date of (residualDemandRunDates.gfs | sliceRunDate); let i = index" [value]="date">
                      {{ date }}
                    </mat-option>
                  </ng-container>
                  <ng-container *ngIf="residualDemandRunDates.hres && !residualDemandRunDates.gfs">
                    <mat-option *ngFor="let date of (residualDemandRunDates.hres | sliceRunDate); let i = index" [value]="date">
                      {{ date }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <ng-container>
        <canvas
          #chart
          [class.resizeOn]="(resizeLoader$ | async)"
          class="canvas__small">
        </canvas>
      </ng-container>
      <ng-container *ngIf="(resizeLoader$ | async)">
        <div class="loader__container">
          <div class="loader">
            <img src="../../../assets/img/loader.svg">
          </div>
        </div>
      </ng-container>
      <div class="chart__labels">
        <chart-button
            *ngFor="let name of labels"
            (click)="toggleData(name)"
            [name]="name"
            [currentKind$]="currentKind$"
            (emitKind)="setCurrentKind($event)"
            [class.activeButton]="name.toLowerCase() === (currentKind$ | async)?.toLowerCase()"
        ></chart-button>
      </div>
    </div>
  </div>
</div>
