<div class="theme__container">
  <div (click)="toggleTab(tab1, content1)" #tab1 class="tabButton openTab">
    <h2 class="container__header">{{ 'Saved settings' | translate }}</h2><div><span class="arrowDown ico-bottom"></span></div>
  </div>
  <div #content1 class="tabContent openTabContent">
    <div class="switchThemeButtons">
      <button #themeDefault (click)="themeSwitcher(themeDefault.value)" [class.activeThemeBtn]="defaultThemeSelect === themeDefault.value" value="default_theme" class="btns__default">Default theme</button>
      <button #themeDark (click)="themeSwitcher(themeDark.value)" [class.activeThemeBtn]="defaultThemeSelect === themeDark.value" value="dark_theme" class="btns__dark">Dark theme</button>
    </div>
  </div>
</div>
