@import '../../../../assets/css/variables';
.container__header {
  height: 24px;
  color: $white;
  font-family: $basic-text-font;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.switchThemeButtons {
  button {
    border-radius: 30px;
    border: none;
    box-shadow: none;
    height: 36px;
    width: 133px;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 25px;
    cursor: pointer;
    font-family: $basic-text-font;
    @include transition();

    &:hover {
      color: $base-color !important;
    }
  }

  .btns__default {
    background: $white;
    border: 1px solid $black_theme_bg;
  }

  .btns__dark {
    background-color: $black_theme_bg;
    color: $white;
    border: 1px solid $black_theme_bg;
  }
}
