<ul class="navigation-list">
  <li *ngFor="let path of paths">
    <a href="{{ path.url }}">{{ path.name }}</a>
  </li>
</ul>

<ul *ngIf="availableLangs">
  <ng-container *ngFor="let lang of availableLangs">
    <li [ngClass]="{'active': activeLang === lang}">
      <a (click)="setLang(lang)">{{ lang }}</a>
    </li>
  </ng-container>
</ul>