
@import '../../../../assets/css/variables';

// STYLE MENU

.menu__container {
  // margin: auto;
  // position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  font-size: 24px;
  z-index: 10;
  //transform: translateY(-15%);
  //position: absolute;
  //bottom: -25px;
  //right: 15px;
  [class^='ico'] {
    cursor: pointer;
  }
}

.menu {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("../../../../assets/img/btn-plus-bg.png") no-repeat center 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@for $i from 1 through 3 {
  .icon-#{$i} {
    font-size: 11px;
    border-radius: 100%;
    background-color: $chart-menu-background;
    color: white;
    border: none;
    position: absolute;
    padding: 3px;
    opacity: 0;
    transform: none;
    transition: all 200ms cubic-bezier(.57,.21,.69,1.25);
    transition-delay: $i * 50ms;
  }
}

.menu__icon {
  color: #fff;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  @include transition();
  background: $base-color;
  border-radius: 999px;

  &:before {
    content: "";
    display: block;
    width: 40%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    @include transition();
  }

  &:after {
    content: "";
    display: block;
    width: 18%;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    transform: rotate(90deg);
    position: absolute;
    @include transition();
  }

  &.menu__close {
    @include transition();
    &:after {
      content: "";
      display: block;
      width: 18%;
      height: 1px;
      background-color: white;
      margin: 0 auto;
      transform: rotate(0deg);
      position: absolute;
      @include transition();
    }
  }
}
