<ng-container *ngIf="chartType !== 'Table'">
<div class="menu__container">
  <div class="menu">
    <div [class.menu__close]="isMenuOpen" #mainIcon class="menu__icon" (click)="toggleMenu()"></div>
    <div *ngIf="chartType === 'Weather'" #iconElement (click)="btnAction(0)" class="icon-3 ico-filter"></div>
    <div *ngIf="chartType !== 'Weather'" #iconElement class="icon-3 ico-filter"></div>
    <div (click)="btnAction(1)" #iconElement class="icon-2 ico-cog"></div>
    <!--<div *ngIf="!fullscreenActive" (click)="btnAction(2)" #iconElement class="icon-1 ico-fullscreen"></div>-->
    <!--<div *ngIf="fullscreenActive" (click)="btnAction(3)" #iconElement class="icon-1 ico-minify"></div>-->
  </div>
</div>
</ng-container>
<ng-container *ngIf="chartType === 'Table'">
  <div class="menu__container">
    <div class="menu">
      <div [class.menu__close]="isMenuOpen" #mainIcon class="menu__icon" (click)="toggleMenu()"></div>
      <div (click)="saveToCsv()" #iconElement class="ico-save"></div>
    </div>
  </div>
</ng-container>
