<div class="savedSettings-container">
  <ng-container>
    <div class="chartsSettings-container">
      <div (click)="toggleTab(tab1, content1)" #tab1 class="tabButton openTab">
        <h2 class="container__header">{{ 'Global settings' | translate }}</h2><div><span class="arrowDown ico-bottom"></span></div>
      </div>
      <div #content1 class="tabContent openTabContent">
        <table class="chartsSettings-container--table">
          <tr>
            <th *ngIf="countries$ | async as filterCountries">{{ filterCountries.length > 1 ? 'Countries' : 'Country' }}</th>
            <th *ngIf="models$ | async as filterModels">{{ filterModels.length > 1 ? 'Models' : 'Model' }}</th>
          </tr>
          <tr>
            <td>
              <ng-container *ngIf="countries$ | async as filterCountries">
                <span *ngFor="let country of filterCountries; let last = last">
                  {{ country.name }}<ng-container *ngIf="!last">, </ng-container>
                </span>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="models$ | async as filterModels">
                <span *ngFor="let models of filterModels; let last = last">
                  {{ models }}<ng-container *ngIf="!last">, </ng-container>
                </span>
              </ng-container>
            </td>
          </tr>
        </table>
      </div>

      <div (click)="toggleTab(tab2, content2)" #tab2 class="tabButton openTab">
        <h2 class="container__header">{{ 'Chart settings' | translate }}</h2><div><span class="arrowDown ico-bottom"></span></div>
      </div>
      <div #content2 class="tabContent openTabContent">
        <div class="table-wrapper">
          <table *ngIf="charts$ | async" class="chartsSettings-container--table secondSection__table">
            <tr>
              <th>Chart</th>
              <th>Country</th>
              <th>Kind</th>
              <th>Last</th>
              <th>Prev</th>
              <th>As-of</th>
              <th>Full range</th>
              <th>Current day</th>
              <th>Selected offset</th>
            </tr>

            <tr *ngFor="let chart of charts$ | async">
              <ng-container *ngIf="chart.settings">
                <td data-th="Chart">{{ !!chart.name ? chart.name : '-' }}</td>
                <td data-th="Country">{{ !!chart.settings.country ? chart.settings.country : '-' }}</td>
                <td data-th="Kind">{{ !!chart.settings.kind ? chart.settings.kind : '-' }}</td>
                <td data-th="Last">{{ chart.settings.last !== 'null' && chart.settings.last ? chart.settings.last : '-' }}</td>
                <td data-th="Prev">{{ chart.settings.prev !== 'null' && chart.settings.last ? chart.settings.prev : '-' }}</td>
                <td data-th="As-of">{{ !!chart.settings.runDate ? chart.settings.runDate : '-' }}</td>
                <td data-th="Full range">{{ chart.settings.viewFullRange }}</td>
                <td data-th="Current day">{{ !!chart.settings.currentDay ? chart.settings.currentDay : '-' }}</td>
                <td data-th="Selected offset">{{ !!chart.settings.selectedOffset ? chart.settings.selectedOffset : '-' }}</td>
              </ng-container>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>
