@import '../../../../assets/css/variables';

.chartsSettings-container {
  .container__header {
    height: 24px;
    color: $white;
    font-family: $basic-text-font;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
  }
  .chartsSettings-container--table {
    width: 100%;
    font-family: $basic-text-font;
    font-weight: 400;

    td, th {
      border: 2px solid $borderTableColor;
      text-align: left;
      padding: 2px 5px;
      font-size: 17px;
    }

    th {
      font-size: 22px;
      line-height: 22px;
      color: $base-color;
      height: 42px;
      padding: 11px 8px;
      min-width: 100px;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        width: 5%;
      }

      &:nth-child(3) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 15%;
      }

      &:nth-child(8) {
        width: 20%;
      }

      &:nth-child(9) {
        width: 30%;
      }
    }

    td {
      text-transform: capitalize;
    }

    tr:nth-child(even) {
      background-color: $boxTableColor;
      color: $btn-text-color;
    }

  }

  .table-wrapper {
    max-width: 100%;
    overflow: auto;
  }
}

.secondSection__table {
  margin: 1em 0;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none;
  }

  td {
    display: table-cell;

    @media #{$grid-max-large-lg-size} {
      display: flex;
      align-items: center;
      flex-direction: column;
      align-content: center;
      text-align: center;
      padding-bottom: 10px;
    }

    @media #{$grid-md-size} {
      flex-direction: row;
    }

    &:first-child {
      padding: .25em .5em !important;
    }
    &:last-child {
      padding-bottom: .5em;
      margin-bottom: .5em;
      padding-top: 0.5em;
    }

    &:before {
      content: attr(data-th); // who knew you could do this? The internet, that's who.
      font-weight: 700;

      // optional stuff to make it look nicer
      width: 50%; //adjust according to your own content
      display: inline-block;
      // end options

      @media #{$grid-md-size} {
        display: none;
      }
    }
  }

  th, td {
    text-align: center !important;

    @media #{$grid-md-size} {
      display: table-cell;
      padding: .25em .5em;
      height: 100% !important;
      text-align: left !important;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
