
@import '../../../../assets/css/variables';
$gfsColor: rgba(193, 52, 44, 0.8);
$gfsCircleColor: rgba(193, 52, 44, 1);
$hresColor: rgba(25, 95, 154, 0.8);
$hresCircleColor: rgba(25, 95, 154, 1);
$isothermColors: #8be14d,#2da7dd, #a86355,  #dcae4d, #4fb99f, #general;
// ISOTHERM LEGEND (FULLSCREEN) BTN

@for $i from 1 through length($isothermColors) {
  .btn--isotherm .isotherm__color span.color-#{$i} {
    background-color: nth($isothermColors, $i);
  }
}

button {
  cursor: pointer;
}

::host {
  margin-right: 6px;
}

.chips__chip {
  min-width: 31px;
  min-height: 15px;
  background-color: $btn-background-color;
  outline: none;
  display: flex;
  padding: 1px 4px;
  justify-content: center;
  align-items: center;
  border: none;
  // margin-right: 6px;
  height: 21px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @include transition();
  border-radius: 30px;

  @media #{$grid-max-xl-size} {
    margin-bottom: 5px;
  }

  &.country__buttons {
    //margin-bottom: 5px;
    overflow: visible !important;
    margin-bottom: 0;
    border-radius: 30px;

    @media #{$grid-max-large-xs-size} {
      margin-bottom: 5px;
      padding: 6px 12px;
      height: auto;
    }
  }

  &.chip__selected--active {
    background-color: $base-color;
  }

  @media #{$grid-max-large-xs-size} {
    min-width: 100%;
  }

  .chip__icon {
    font-size: 8px;
    margin-right: 5px;
    color: $btn-text-color;
    align-self: center;
    line-height: 14px;
  }

  .chip__text {
    color: $btn-text-color;
    font-family: $basic-text-font;
    font-size: 9px;
    line-height: 9px;
    font-weight: 700;
    align-self: center;
    text-transform: capitalize;
  }
}

.chips__chip--kind {
  background-color: $btns__kind;
  color: $btns__kind--text;
  padding: 1px 10px;

  .kind__text,
  .kind__icon {
    color: $btns__kind--text;
  }
}

.unactive {
  box-shadow: $btn-shadow;
  background-color: $base-color;
  color: $white;

  .chip__text {
    color: $white;
  }
}

.chips__chip--model {
  background-color: $btn__model;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  width: 4em;
  height: 1em;
  cursor: pointer;

  .chip__icon,
  .chip__text {
    color: $model__text;
    text-transform: uppercase;
    font-size: 9px;
  };

  .model__text {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    @include transition();
    position: relative;
    top: 1px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 26px;
    height: 27px;
    display: flex;
    align-items: center;
    border-radius: 2em;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
  }

  &.gfs-model {
    &:after {
      background: $gfsCircleColor;
    }
  };

  &.hres-model {
    &:after {
      background: $hresCircleColor;
    }
  };
}

.active--model {
  color: $base-color;
  z-index: 1;
  @include transition();

  &.gfs-model {
    background-color: $gfsColor;
  }

  &.hres-model {
    background-color: $hresColor;
  }

  &:after {
    left: calc(100% - 27px);
  }

  .model__text {
    @include transition();
    color: $active--model__text;
    justify-content: center;
  }

  &:hover:after {
    will-change: padding;
  }
}

.btn--availability,
.btn--isotherm {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 600;
  padding: 0;
  color: $basic-font-color;
  margin: 0 5px;

  @media #{$grid-max-large-xs-size} {
    margin: 0 auto 9px;
  }

  .availability__color,
  .isotherm__color {
    width: 50px;
    height: 10px;

    span {
      display: block;
      height: 100%;
      margin: 0 5px;
      position: relative;
      border-radius: 10px;

      @include transition();

      &.brown-coal-lignite {
        background: #8d5e4d;
      }

      &.gas {
        background: #DD5333;
      }

      &.oil {
        background: #707070;
      }

      &.hard-coal {
        background: #3d3933;
      }

      &.nuclear {
        background: #FED25B;
      }
    }
  }

  .availability__label,
  .isotherm__label {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      width: 100%;
      height: 2px;
      background-color: $base-color;
      visibility: visible;
      @include transition();
    }
  }

  &.active--availability,
  &.active--isotherm {
    .availability__label,
    .isotherm__label {
      position: relative;

      &:after {
        @include transition();
        width: 0;
        visibility: hidden;
      }
    }
  }
}

// Renewables div under country btn
.chip__selected {
  // width: 44px;
  height: 3px;
  border-radius: 2px;
  background-color: #e6e7e8;
  // transform: translateX(-50%);
  margin-top: 5px;
}
