<button *ngIf="kind !== 'country' && kind !== 'models' && kind !== 'availability' && kind !== 'isotherm'"
  class="chips__chip chips__chip--kind"
  (click)="toggleBtnKind(name)"
  [class.unactive]="name.toLowerCase() === (currentKind$ | async)?.toLowerCase()">
  <span class="chip__text kind__text">{{ name === 'Calculated Difference' ? 'Temperature' : name }}</span>
</button>

<div *ngIf="kind === 'country'">
  <button
  class="chips__chip country__buttons"
  [class.chip__selected--active]="country.iso.toLowerCase() === (currentCountry$ | async)?.iso.toLowerCase()"
  (click)="toggleBtn(name);">
  <span class="chip__text">{{ country.iso.toUpperCase() }}</span>
  </button>
</div>

<ng-container *ngIf="(currentModel$ | async) as currentModels">
    <button *ngIf="kind === 'models' && !!model"
      (click)="toggleBtnModel(model)"
      class="chips__chip chips__chip--model {{ model.modelName }}-model"
      [class.active--model]="findModel(currentModels, model.modelName)">
      <span class="chip__text model__text">{{ model.modelDisplayedName }}</span>
    </button>
</ng-container>

<button *ngIf="kind === 'availability'"
  (click)="toggleAvailability()" 
    [class.active--availability]="activeAvailability"
    class="btn--availability">
    <div class="availability__color">
      <span class="{{ btnAvailabilityLabel['value'] }}"></span>
    </div>
    <div class="availability__label">{{ btnAvailabilityLabel['name'] }}</div>
</button>

<button *ngIf="kind === 'isotherm'"
  (click)="toggleIsotherm()"
    [class.active--isotherm]="activeIsotherm"
    class="btn--isotherm">
    <div class="isotherm__color">
      <span class="color-{{ isothermIndex }}"></span>
    </div>
    <div class="isotherm__label">{{ name }}</div>
    
</button>
