<div class="banner">
  <div class="banner__info">
    <div class="banner__logo__wrapper">
      <ng-container *ngIf="currentTheme">
        <ng-container *ngIf="currentTheme === 'default_theme'">
          <img class="banner__logo" (click)="changeDashboardVisibility(true)" src="../../../assets/img/horizon__logo.svg">
        </ng-container>
        <ng-container *ngIf="currentTheme === 'dark_theme'">
          <img class="banner__logo" (click)="changeDashboardVisibility(true)" src="../../../assets/img/horizon__logo__white.svg">
        </ng-container>
      </ng-container>
    </div>
    <div class="banner__title">
      <div class="title__subtitle">{{ 'You are in'| translate}}
        <ng-container *ngIf="pageTitle === true">
          <span class="subtitle__text">{{ 'My dashboard' | translate }}</span>
        </ng-container>
        <ng-container *ngIf="pageTitle === false">
          <span class="subtitle__text">{{ 'personal information' | translate }}</span>
        </ng-container>
      </div>
      <div class="update__wrapper" (click)="updateDashbord(true)" [hidden]="(updateState | async) === false" >
        <div class="ico-replay update__btn"></div>
        <div class="update__wrapper--desc">There are new data available
          <div class="update__btn">Update now</div>
        </div>
      </div>
      <div [hidden]="pageTitle === false"  class="saveDashboard__wrapper">
        <div (click)="saveDashboard()">
          <span class="ico-save_upload"></span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="testPage === true">
      <span class="testPage">Testboard</span>
    </ng-container>
  </div>
  <div class="banner__icon icon-save"></div>
  <div class="box">
    <div class="banner__searchBar">
      <input placeholder="Search..." class="searchBar__input">
      <span class="searchBar__suffix">Go!</span>
    </div>
    <div [hidden]="pageTitle === false"  class="saveDashboard__wrapper mobile__saveDashboard">
      <div (click)="saveDashboard()">
        <span class="ico-save_upload"></span>
      </div>
    </div>
    <div class="banner__info" (click)="changeState()">
      <div class="info__name">{{ userData?.firstName }}</div>
      <div>
        <div *ngIf="state === 'active'" class="ico-top info__icon"></div>
        <div *ngIf="state !== 'active'" class="ico-bottom info__icon"></div>
      </div>
      <img [src]="avatar" class="info__avatar">
      <ul [@dropMenu]="state" class="dropdown-menu dropdown-menu--block" (clickEvent)="closeMenu($event)">
        <li>
          <a (click)="changeDashboardVisibility(true)">
            {{ 'My dashboard' | translate }}
          </a>
        </li>
        <li>
          <a (click)="changeDashboardVisibility(false)">
            {{ 'My account' | translate }}
          </a>
        </li>
        <li>
          <a [class.active]="router.isActive('/auth/logout', null)" routerLink='/auth/logout'>
            {{ 'Logout' | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="banner__globalfilters__container">
      <div (click)="globalFiltersState()" class="globalfilters__container--toggle"><span class="ico-filter"></span></div>
      <globalfilters class="globalfiltersMenu" [ngClass]="globalFilters ? 'globalFiltersShow' : 'globalFiltersHidden'"></globalfilters>
    </div>
    <div class="banner__menu">
      <div class="banner__menu__button" (click)="menuToggle()" [ngClass]="menuStatus ? 'menuShow' : 'menuClose'">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="banner__menu__content" [ngClass]="menuStatus ? 'menuContentShow' : 'menuContentClose'">
        <ng-container *ngFor="let menuItem of menuItems;">
          <div class="menu__content--item"><a target="{{ menuItem['targetBlank'] === 1 ? '_blank' : '_self' }}" href="{{ menuItem['menuLinkUrl'] }}">{{ menuItem['menuLinkDisplayedName'] }}</a></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
