@import '../../../assets/css/variables';

.banner {
  height: $banner-height;
  background-color: $white;
  display: flex;
  padding: 20px 18px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid $chart-container-background;

  .testPage {
    left: -40px;
    position: fixed;
    display: block;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    background: red;
    color: white;
    transform: rotate(90deg);
    z-index: 999;
    padding: 2px 15px;
  }

  .banner__info {
    display: flex;

    .banner__logo__wrapper {
      min-width: 105px;

      .banner__logo {
        cursor: pointer;
        max-width: 100%;
        height: auto;
      }
    }

    .banner__title {
      display: none;
      // max-width: 235px;
      align-items: center;
      @include transition();

      @media  #{$grid-sm-size}{
        margin-left: 15%;
        min-width: 500px;
        display: flex;
        @include transition();
      }

      .title__subtitle {
        font-weight: 400;
        font-family: $basic-text-font;
        font-size: 12px;
        color: $basic-font-color;

        .subtitle__text {
          font-weight: 700;
        }
      }
    }
  }

  .title__main {
    font-weight: 500;
    font-family: $accent-font;
    font-size: 16px;
    color: $base-color;
  }

  .update__wrapper {
    font-weight: 400;
    font-family: $basic-text-font;
    font-size: 11px;
    line-height: 17px;
    color: $basic-font-color;
    margin-left: 18px;
    display: flex;
    align-items: center;
    padding-left: 21px;
    position: relative;

    .update__wrapper--desc {
      margin-left: 12px;
    }

    .update__btn {
      color: $base-color;
      cursor: pointer;
      @include transition();
      display: block;
    }

    .ico-replay {
      @include transition();
      display: inline-block;
      font-size: 16px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      height: 30px;
      width: 1px;
      background: $dividerColor;
      opacity: 0.46;
    }

    &:hover {
      @include transition();

      .ico-replay {
        @include transition();
        transform: rotate(180deg) scale(1.1);
      }
    }
  }

  .saveDashboard__wrapper {
    color: $base-color;
    font-family: $basic-text-font;
    font-size: 11px;
    line-height: 17px;
    font-weight: 600;
    padding-left: 21px;
    margin-left: 21px;
    position: relative;

    &.mobile__saveDashboard {
      display: none;

      @media #{$grid-max-sm-size} {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 24px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
      height: 30px;
      width: 1px;
      background: $dividerColor;
      opacity: 0.46;

      @media #{$grid-max-sm-size} {
        display: none;
      }
    }

    > div {

      .ico-save_upload {
        @include transition();
        transform: scale(1);
        display: inline-block;
        font-size: 16px;
      }
    }

    &:hover {

      > div {
        cursor: pointer;

        .ico-save_upload {
          @include transition();
          transform: scale(1.3);
        }
      }
    }
  }

  .box {
    display: flex;

    .banner__searchBar {
      display: none;
      min-width: auto;
      position: relative;
      //display: flex;
      align-items: center;
      margin-right: 15px;
      margin-left: 15px;

      @media #{$grid-max-sm-size} {
        display: none;
      }

      @media  #{$grid-md-size}{
        min-width: 242px;
        margin-right: 70px;
        margin-left: auto;
      }

      .searchBar__input {
        border: none;
        box-shadow: inset 0 -1px 2px #ececec;
        border-radius: 22px;
        font-family: $basic-text-font;
        font-size: 12px;
        font-weight: 400;
        color: #999999;
        padding: 9px 40px 6px 13px;
        width: 100%;

        &:focus {
          outline: none;
          border: 1px solid $base-color;
          border-radius: 22px;
        }
      }

      .searchBar__suffix {
        font-size: 13px;
        color: $base-color;
        position: absolute;
        right: 12px;
      }
    }
  }

  .banner__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .info__name {
      color: $basic-font-color;
      font-family: $basic-text-font;
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      cursor: pointer;
      display: none;

      @media  #{$grid-md-size}{
        display: block;
      }
    }

    .info__icon {
      color: $base-color;
      margin: 0 11px 0 17px;
      cursor: pointer;
    }

    .info__avatar {
      width: 38px;
      height: 38px;
      background-repeat: no-repeat;
      background-size: cover;
      //background-color: $base-color;
      border-radius: 50%;
      border: 1px solid $base-color;
    }
  }

  .dropdown-menu {
    top: 130%;
    left: 0;
    position: absolute;
    z-index: 10;
    width: 111px;
    height: 103px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: $white;
    padding: 0 6px;

    li {
      font-family: $basic-text-font;
      font-size: 11px;
      line-height: 32px;
      height: 32px;
      border-bottom: 1px solid $filter-breakLine;
      font-weight: 400;

      &:hover {
        a {
          color: $base-color !important;
        }
      }
    }
    a {
      text-decoration: none;
      color: $basic-font-color;
      display: block;
    }
  }

  .banner__menu {
    margin-left: 48px;

    @media #{$grid-max-sm-size} {
      margin-left: 15px;
    }

    &__button {
      width: 19px;
      margin-top: 12px;
      position: relative;
      z-index: 12;
      cursor: pointer;

      div {
        background-color: $base-color;
        height: 3px;
        width: calc(100% - 2px);
        margin-bottom: 3px;
        @include transition();

        &:first-of-type {
          width: 100%;
        }

        &:last-of-type {
          width: calc(100% - 4px);
          margin-bottom: 0;
        }
      }

      &:hover, &.menuShow {
        div {
          width: 100%;
        }
      }

      &.menuShow {
        div {
          transform: rotate(45deg) translate(2px, 5px);
          width: 0;
          @include transition();

          &:first-of-type {
            width: auto;
          }

          &:last-of-type {
            transform: rotate(-45deg) translate(4px, -6px);
            width: auto;
          }
        }
      }
    }

    &__content {
      position: fixed;
      height: 100%;
      width: 230px;
      background-color: $bg-collapse-menu;
      top: 0;
      right: 0;
      box-shadow: 1px 3px 2px 2px rgba(0,0,0,.2);
      padding: 7vh 4vw;
      text-align: right;
      font-family: $basic-text-font;
      @include transition();
      transform: translateX(100%);
      z-index: 10;

      &.menuContentShow {
        @include transition();
        transform: translateX(0);
      }

      .menu__content--item {
        font-size: 18px;
        line-height: 54px;
        color: $menu-color;
        text-transform: capitalize;
        position: relative;
        @include transition();

        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          right: 0;
          width: 0;
          height: 3px;
          background-color: $base-color;
          @include transition();
        }

        a {
          color: inherit;
          text-decoration: none;
          display: block;
        }

        &:hover {
          @include transition();

          a {
            color: $base-color;
          }

          &:after {
            width: 100%;
            @include transition();
          }
        }
      }
    }
  }

  .banner__globalfilters__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $basic-text-font;
    font-size: 32px;
    color: $base-color;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;

    @media #{$grid-sm-size} {
      display: none;
    }

    .globalfilters__container--toggle {
      span {
        display: block;
      }
    }
  }
}

.active {
  font-weight: 700;
}
