<ng-container *ngIf="dialogKind === 'userEmpty'">
  <div>
    <h3 mat-dialog-title>Save not completed !</h3>
    <div mat-dialog-content>
      <p>Please fill out your personal information in My Account.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-raised-button (click)="btnDialogAction('redirect-account')">My account</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="dialogKind === 'userLoggedIn'">
  <div>
    <h3 mat-dialog-title>You are already connected from another device!</h3>
    <div mat-dialog-content>
      <p>Please log out from other devices to continue...</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-raised-button (click)="btnDialogAction('userLoggedIn')">Refresh</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="dialogKind === 'serverError'">
  <div>
    <h3 mat-dialog-title>A server error has occured!</h3>
    <div mat-dialog-content>
      <p>Please reload page to continue...</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-raised-button (click)="reloadPage()">Reload</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="dialogKind === 'noParamsSelected'">
  <div>
    <h3 mat-dialog-title>No parameters selected!</h3>
    <div mat-dialog-content>
      <p>Please select at least one country and one model to load the Dashboard.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-raised-button (click)="closeDialog()">Ok</button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="dialogKind === 'expiredToken'">
  <div>
    <h3 mat-dialog-title>Session expired!</h3>
    <div mat-dialog-content>
      <p>Please login again.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-raised-button (click)="btnDialogAction('userLoggedIn')">Login</button>
    </div>
  </div>
</ng-container>
