@import 'variables';
@import '/charts/_chart_big.scss';
@import '/charts/_chart_small.scss';

chart-button {
  @include transition();
  transition-duration: .2s;
  margin-right: 6px;
  position: relative;
  top: 0;

  @media #{$grid-max-large-xs-size} {
    width: auto;
    margin-bottom: 5px;
  }

  &:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    top: -3px;
  }
}

.chart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .resizeButtons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 17px;
    color: $base-color;
    font-weight: 700;
    width: 55px;

    span, i {
      cursor: pointer;
      @include transition();
      transform: scale(1);
      color: $base-color;
      font-size: 17px;
      display: inline-block;

      &:hover {
        transform: scale(1.1);
      }

      &.ico-fullscreen {
        @media #{$grid-max-md-size} {
          display: none;
        }
      }

    }
  }

  .chart__content {
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 1;
    padding: 10px 15px;

    &--no-TopPadding {
      padding: 0 15px;
    }

    .chart__content--item {
      height: 100%;
      width: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;

      canvas {
        width: 100% !important;
        min-width: 100%;
        max-width: 100%;
      }
    }

    .chart__countries {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .countries__wrapper {
        width: 75%;
        display: flex;
        align-items: center;
      }
    }

    .header-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;

      &--column {
        display: block;

        .title__wrapper {
          margin: 10px 0;
        }
      }
    }

    .current__date {
      font-size: 10px;
      text-align: right;
      color: $base-color;
      font-family: $accent-font;
    }

    .title__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media #{$grid-max-sm-size} {
        flex-direction: column;
        align-items: initial;
        margin-top: 15px;
        margin-bottom: 13px;
      }

      .title {
        font-size: 11px;
        line-height: 11px;
        font-family: $basic-text-font;
        font-weight: 600;
        position: relative;
        top: 1px;

        @media #{$grid-lg-size} and #{$grid-max-xl-size} {
          font-size: 10px;
          line-height: 10px;
        }
      }

      .prevNextAsOf {
        display: flex;
        align-items: center;
        margin: 10px 0;
      }

      .buttons__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 10px;
        font-size: 11px;
        width: 90%;

        @media #{$grid-max-sm-size} {
          margin: 0 auto;
          width: 100%;
          flex-direction: column;
        }

        &.buttons__wrapper--prices {
          flex-basis: 57% !important;

          .buttons__wrapper--centerPrevNext {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media #{$grid-max-sm-size} {
              justify-content: flex-end;
            }

          }
        }

        @media #{$grid-lg-size} and #{$grid-max-xl-size} {
          font-size: 10px;
        }
        mat-checkbox {
          flex-basis: 25%;
          //margin: 0 5px;
        }
        mat-select {
          // flex-basis: 30%;
          text-align: center;
          @include customSelect();
        }

        &::ng-deep {
          mat-checkbox label {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 5px;

            .mat-checkbox-label {
              font-size: 11px;
            }
            .mat-checkbox-inner-container {
              height: 12px;
              width: 12px;

              .mat-checkbox-ripple {
                position: absolute;
                left: calc(50% - 12px);
                top: calc(50% - 12px);
                height: 25px;
                width: 25px;
                z-index: 1;
                pointer-events: none;
              }
            }
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          width: 250px;
          justify-content: space-around;
          font-size: 10px;

          .buttons__input {
            max-width: 30px !important;
            background-color: $inputBg !important;
            margin-left: 5px !important;
            border-radius: 30%;
          }
        }

        .selectMap {
          font-size: 10px;
          width: 75px;
          display: flex;
          align-items: center;
        }

        .chartHeader__prevNext {
          cursor: pointer;
          font-size: 10px;
          display: flex;
          align-items: center;
          @include transition();

          &.checboxActive {
            color: $base-color;
          }

          &__toggleBtn {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
          }

          &__icon{
            font-size: 13px;
          }
        }

        .chartHeader__prevNext--divider {
          font-size: 10px;
          position: relative;
          top: -1px;
          margin: 0 2px;
        }
      }
    }

    .chart__navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $base_color;
      margin: 0 5px;

      @media #{$grid-max-sm-size} {
        justify-content: center;
      }

      &.loaderOn {
        display: none;
      }

      .prev-day {
        @include transition();
        cursor: pointer;
        font-size: 13px;

        &:hover {
          transform: translateX(-1px);
        }
      }

      .current-date {
        font-size: 10px;

        @media #{$grid-lg-size} and #{$grid-max-xl-size} {
          font-size: 9px;
        }
      }

      .next-day {
        @include transition();
        cursor: pointer;
        font-size: 13px;

        &:hover {
          transform: translateX(1px);
        }
      }
    }
  }

  .chart__labels {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 1;

    chart-button {
      margin-bottom: 0;
    }
  }
}

.chart__menu {
  bottom: 7px;
  right: 3%;
  position: absolute;
}

.chart__parametres__modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  padding: 35px 23px;
  background-color: rgba(255, 255, 255, .8);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  @include transition();

  &.visibleParameters {
    pointer-events: inherit;
    @include transition();
    visibility: visible;
    opacity: 1;
    z-index: 4;
  }

  .parametres__close_btn {
    border: none;
    padding: 0;
    position: absolute;
    right: 32px;
    top: 5px;
    cursor: pointer;

    span {
      background-color: $chart-menu-background;
      width: 16px;
      height: 3px;

      &:first-of-type {
        display: block;
        transform: translate(0px, 4px) rotate(45deg);
      }

      &:last-of-type {
        display: block;
        transform: translate(0px, 1px) rotate(-45deg);
      }
    }
  }

  .parametres__title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .parametres__title {
      font-size: 12px;
      font-weight: 600;
      color: #000;
    }

    .parametres__checkAll {
      font-size: 10px;
      font-weight: 600;
      color: #000;
    }
  }

  .parametres__content__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 11px;
    max-height: 75%;
    overflow: auto;

    .parametres__content__item {
      margin-bottom: 15px;
      width: calc(100% / 2);

      .parametres__item {
        .mat-checkbox-inner-container {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.chip__color {
  background-color: #b5dda4;
}

.show {
  visibility: visible;
  opacity: 1;
  //transition: all 1s;
}

.hide {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}

.hideBtn {
  visibility: hidden;
}

.showBtn {
  visibility: visible;
}

.resizeOn { // canvas loader
  opacity: 0;
  visibility: hidden;
  display: none !important;
  transition: all 100ms ease;
}

.loader__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

// style do kontenera dat last/prev przy fullscreenie
.showDates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: black;

  & span {
    font-size: 14px !important;
  }
}
