// xs 320px
$grid-xs-size: (min-width: 320px);
$grid-max-xs-size: (max-width: 320px);

// large-xs 540px
$grid-large-xs-size: (min-width: 540px);
$grid-max-large-xs-size: (max-width: 540px);

// sm 767px
$grid-sm-size: (min-width: 767px);
$grid-max-sm-size: (max-width: 767px);

//md 1024px
$grid-md-size: (min-width: 1024px);
$grid-max-md-size: (max-width: 1024px);

// lg 1366px
$grid-lg-size: (min-width: 1366px);
$grid-max-lg-size: (max-width: 1366px);

// lg large 1600px
$grid-large-lg-size: (min-width: 1600px);
$grid-max-large-lg-size: (max-width: 1600px);

// xl 1900px
$grid-xl-size: (min-width: 1900px);
$grid-max-xl-size: (max-width: 1900px);
