@font-face {
  font-family: 'core-icons';
  src: url('./../src/assets/icons/core-icons.eot?5y04e');
  src: url('./../src/assets/icons/core-icons.eot?5y04e#iefix') format('embedded-opentype'),
    url('./../src/assets/icons/core-icons.ttf?5y04e') format('truetype'), url('./../src/assets/icons/core-icons.woff?5y04e') format('woff'),
    url('./../src/assets/icons/core-icons.svg?5y04e#core-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='ico-'],
[class*=' ico-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'core-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-align_center:before {
  content: '\e900';
}
.ico-align_justify:before {
  content: '\e901';
}
.ico-align_left:before {
  content: '\e902';
}
.ico-align_right:before {
  content: '\e903';
}
.ico-arrow_disc:before {
  content: '\e904';
}
.ico-arrow_down:before {
  content: '\e905';
}
.ico-arrow_up:before {
  content: '\e906';
}
.ico-arrow_up_disc:before {
  content: '\e907';
}
.ico-asterisk:before {
  content: '\e908';
}
.ico-attachment:before {
  content: '\e909';
}
.ico-back:before {
  content: '\e90a';
}
.ico-bars:before {
  content: '\e90b';
}
.ico-bell:before {
  content: '\e90c';
}
.ico-bold:before {
  content: '\e90d';
}
.ico-bolt:before {
  content: '\e90e';
}
.ico-book:before {
  content: '\e90f';
}
.ico-bottom:before {
  content: '\e910';
}
.ico-browser:before {
  content: '\e911';
}
.ico-bubble:before {
  content: '\e912';
}
.ico-bullseye:before {
  content: '\e913';
}
.ico-calendar:before {
  content: '\e914';
}
.ico-camera:before {
  content: '\e915';
}
.ico-cart:before {
  content: '\e916';
}
.ico-change:before {
  content: '\e917';
}
.ico-chart:before {
  content: '\e918';
}
.ico-charts_alt:before {
  content: '\e919';
}
.ico-check:before {
  content: '\e91a';
}
.ico-check_alt:before {
  content: '\e91b';
}
.ico-chess:before {
  content: '\e91c';
}
.ico-circle_add:before {
  content: '\e91d';
}
.ico-circle_check:before {
  content: '\e91e';
}
.ico-circle_close:before {
  content: '\e91f';
}
.ico-circle_down:before {
  content: '\e920';
}
.ico-circle_empty_check:before {
  content: '\e921';
}
.ico-circle_empty_close:before {
  content: '\e922';
}
.ico-circle_forbidden:before {
  content: '\e923';
}
.ico-circle_help:before {
  content: '\e924';
}
.ico-circle_info:before {
  content: '\e925';
}
.ico-circle_left:before {
  content: '\e926';
}
.ico-circle_remove:before {
  content: '\e927';
}
.ico-circle_right:before {
  content: '\e928';
}
.ico-circle_top:before {
  content: '\e929';
}
.ico-circle_warning:before {
  content: '\e92a';
}
.ico-cloud:before {
  content: '\e92b';
}
.ico-cloud_download:before {
  content: '\e92c';
}
.ico-cloud_upload:before {
  content: '\e92d';
}
.ico-code:before {
  content: '\e92e';
}
.ico-cog:before {
  content: '\e92f';
}
.ico-contrast:before {
  content: '\e930';
}
.ico-credit_card:before {
  content: '\e931';
}
.ico-dashboard:before {
  content: '\e932';
}
.ico-dolar:before {
  content: '\e933';
}
.ico-down:before {
  content: '\e934';
}
.ico-download:before {
  content: '\e935';
}
.ico-drive:before {
  content: '\e936';
}
.ico-drive_alt:before {
  content: '\e937';
}
.ico-edit:before {
  content: '\e938';
}
.ico-eject:before {
  content: '\e939';
}
.ico-enlarge:before {
  content: '\e93a';
}
.ico-envelope:before {
  content: '\e93b';
}
.ico-euro:before {
  content: '\e93c';
}
.ico-export:before {
  content: '\e93d';
}
.ico-file:before {
  content: '\e93e';
}
.ico-filter:before {
  content: '\e93f';
}
.ico-fire:before {
  content: '\e940';
}
.ico-flag:before {
  content: '\e941';
}
.ico-folder:before {
  content: '\e942';
}
.ico-folder_open:before {
  content: '\e943';
}
.ico-food:before {
  content: '\e944';
}
.ico-forest:before {
  content: '\e945';
}
.ico-format_list:before {
  content: '\e946';
}
.ico-forward:before {
  content: '\e947';
}
.ico-forward_slow:before {
  content: '\e948';
}
.ico-front:before {
  content: '\e949';
}
.ico-fullscreen:before {
  content: '\e94a';
}
.ico-glass:before {
  content: '\e94b';
}
.ico-globe:before {
  content: '\e94c';
}
.ico-go_to:before {
  content: '\e94d';
}
.ico-grid_2:before {
  content: '\e94e';
}
.ico-grid_3:before {
  content: '\e94f';
}
.ico-headphones:before {
  content: '\e950';
}
.ico-heart:before {
  content: '\e951';
}
.ico-heart_empty:before {
  content: '\e952';
}
.ico-hidden:before {
  content: '\e953';
}
.ico-home:before {
  content: '\e954';
}
.ico-horizontal:before {
  content: '\e955';
}
.ico-image:before {
  content: '\e956';
}
.ico-indent_left:before {
  content: '\e957';
}
.ico-indent_right:before {
  content: '\e958';
}
.ico-italic:before {
  content: '\e959';
}
.ico-label:before {
  content: '\e95a';
}
.ico-leaf:before {
  content: '\e95b';
}
.ico-left:before {
  content: '\e95c';
}
.ico-letter_spacing:before {
  content: '\e95d';
}
.ico-line-height:before {
  content: '\e95e';
}
.ico-link:before {
  content: '\e95f';
}
.ico-list:before {
  content: '\e960';
}
.ico-lock:before {
  content: '\e961';
}
.ico-magnet:before {
  content: '\e962';
}
.ico-mark:before {
  content: '\e963';
}
.ico-marker:before {
  content: '\e964';
}
.ico-minify:before {
  content: '\e965';
}
.ico-minus:before {
  content: '\e966';
}
.ico-move:before {
  content: '\e967';
}
.ico-movie:before {
  content: '\e968';
}
.ico-music:before {
  content: '\e969';
}
.ico-mute:before {
  content: '\e96a';
}
.ico-next:before {
  content: '\e96b';
}
.ico-pause:before {
  content: '\e96c';
}
.ico-pencil:before {
  content: '\e96d';
}
.ico-phone:before {
  content: '\e96e';
}
.ico-phone_alt:before {
  content: '\e96f';
}
.ico-photo:before {
  content: '\e970';
}
.ico-pin:before {
  content: '\e971';
}
.ico-plane:before {
  content: '\e972';
}
.ico-play:before {
  content: '\e973';
}
.ico-play_alt:before {
  content: '\e974';
}
.ico-plus:before {
  content: '\e975';
}
.ico-point_down:before {
  content: '\e976';
}
.ico-point_left:before {
  content: '\e977';
}
.ico-point_right:before {
  content: '\e978';
}
.ico-point_up:before {
  content: '\e979';
}
.ico-pound:before {
  content: '\e97a';
}
.ico-power:before {
  content: '\e97b';
}
.ico-present:before {
  content: '\e97c';
}
.ico-previous:before {
  content: '\e97d';
}
.ico-print:before {
  content: '\e97e';
}
.ico-qrs:before {
  content: '\e97f';
}
.ico-refresh:before {
  content: '\e980';
}
.ico-remove:before {
  content: '\e981';
}
.ico-replay:before {
  content: '\e982';
}
.ico-rewind:before {
  content: '\e983';
}
.ico-rewind_slow:before {
  content: '\e984';
}
.ico-right:before {
  content: '\e985';
}
.ico-road:before {
  content: '\e986';
}
.ico-saturation:before {
  content: '\e987';
}
.ico-save:before {
  content: '\e988';
}
.ico-save_complete:before {
  content: '\e989';
}
.ico-save_disc:before {
  content: '\e98a';
}
.ico-save_download:before {
  content: '\e98b';
}
.ico-save_error:before {
  content: '\e98c';
}
.ico-save_upload:before {
  content: '\e98d';
}
.ico-search:before {
  content: '\e98e';
}
.ico-send:before {
  content: '\e98f';
}
.ico-smartphone:before {
  content: '\e990';
}
.ico-sort_alphabet:before {
  content: '\e991';
}
.ico-sort_alphabet_desc:before {
  content: '\e992';
}
.ico-sort_asc:before {
  content: '\e993';
}
.ico-sort_desc:before {
  content: '\e994';
}
.ico-sort_number:before {
  content: '\e995';
}
.ico-sort_number_desc:before {
  content: '\e996';
}
.ico-speaker:before {
  content: '\e997';
}
.ico-star:before {
  content: '\e998';
}
.ico-star_empty:before {
  content: '\e999';
}
.ico-stop:before {
  content: '\e99a';
}
.ico-success_disc:before {
  content: '\e99b';
}
.ico-suitcase:before {
  content: '\e99c';
}
.ico-swap:before {
  content: '\e99d';
}
.ico-swap_horizontaly:before {
  content: '\e99e';
}
.ico-swap_up_down:before {
  content: '\e99f';
}
.ico-tag:before {
  content: '\e9a0';
}
.ico-tags:before {
  content: '\e9a1';
}
.ico-target:before {
  content: '\e9a2';
}
.ico-thumbs_down:before {
  content: '\e9a3';
}
.ico-thumbs_up:before {
  content: '\e9a4';
}
.ico-time:before {
  content: '\e9a5';
}
.ico-top:before {
  content: '\e9a6';
}
.ico-trash:before {
  content: '\e9a7';
}
.ico-up:before {
  content: '\e9a8';
}
.ico-upload_disc:before {
  content: '\e9a9';
}
.ico-uppercase:before {
  content: '\e9aa';
}
.ico-user:before {
  content: '\e9ab';
}
.ico-vertical:before {
  content: '\e9ac';
}
.ico-visible:before {
  content: '\e9ad';
}
.ico-volume_down:before {
  content: '\e9ae';
}
.ico-volume_up:before {
  content: '\e9af';
}
.ico-warning_sign:before {
  content: '\e9b0';
}
.ico-zoom_in:before {
  content: '\e9b1';
}
