//@import '~@angular/material/_theming.scss';

$primary-color: #f58220;
$secondary-color: #f58220;
$warn-color: red;
$btns__text: #292929;

$secondary-text: rgba(0, 0, 0, 0.54);
$gray: #fafafa;
$dark-gray: darken($gray, 30%);
$loading-overlay: transparentize($gray, 0.15);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$theme-color-primary: darken($primary-color, 10%);
$theme-color-secondary: $secondary-color;
$theme-color-warn: $warn-color;

@function generate-palette($color) {
  @return (
    50: lighten($color, 55%),
    100: lighten($color, 50%),
    200: lighten($color, 40%),
    300: lighten($color, 30%),
    400: lighten($color, 20%),
    500: lighten($color, 10%),
    600: $color,
    700: darken($color, 10%),
    800: darken($color, 20%),
    900: darken($color, 30%),
    A100: lighten($color, 50%),
    A200: lighten($color, 40%),
    A400: lighten($color, 20%),
    A700: darken($color, 10%),
    contrast:
      (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #000,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #000,
        A200: #fff,
        A400: #fff,
        A700: #fff
      )
  );
}
$palette: generate-palette($primary-color);
$primary: generate-palette($primary-color);
$secondary: generate-palette($secondary-color);
$warn: generate-palette($warn-color);
$primary-lightest: map-get($map: $primary, $key: 50);
$primary-100: map-get($map: $primary, $key: 100);
$primary-200: map-get($map: $primary, $key: 200);
$primary-light: map-get($map: $primary, $key: 300);
$primary-400: map-get($map: $primary, $key: 400);
$primary-500: map-get($map: $primary, $key: 500);
$primary-main: map-get($map: $primary, $key: 600);
$primary-700: map-get($map: $primary, $key: 700);
$primary-dark: map-get($map: $primary, $key: 800);
$primary-darkest: map-get($map: $primary, $key: 900);
$primary-A100: map-get($map: $primary, $key: A100);
$primary-A200: map-get($map: $primary, $key: A200);
$primary-A400: map-get($map: $primary, $key: A400);
$primary-A700: map-get($map: $primary, $key: A700);
$secondary-lightest: map-get($map: $secondary, $key: 50);
$secondary-100: map-get($map: $secondary, $key: 100);
$secondary-200: map-get($map: $secondary, $key: 200);
$secondary-light: map-get($map: $secondary, $key: 300);
$secondary-400: map-get($map: $secondary, $key: 400);
$secondary-500: map-get($map: $secondary, $key: 500);
$secondary-main: map-get($map: $secondary, $key: 600);
$secondary-700: map-get($map: $secondary, $key: 700);
$secondary-dark: map-get($map: $secondary, $key: 800);
$secondary-darkest: map-get($map: $secondary, $key: 900);
$secondary-A100: map-get($map: $secondary, $key: A100);
$secondary-A200: map-get($map: $secondary, $key: A200);
$secondary-A400: map-get($map: $secondary, $key: A400);
$secondary-A700: map-get($map: $secondary, $key: A700);
$warn-lightest: map-get($map: $warn, $key: 50);
$warn-100: map-get($map: $warn, $key: 100);
$warn-200: map-get($map: $warn, $key: 200);
$warn-light: map-get($map: $warn, $key: 300);
$warn-400: map-get($map: $warn, $key: 400);
$warn-500: map-get($map: $warn, $key: 500);
$warn-main: map-get($map: $warn, $key: 600);
$warn-700: map-get($map: $warn, $key: 700);
$warn-dark: map-get($map: $warn, $key: 800);
$warn-darkest: map-get($map: $warn, $key: 900);
$warn-A100: map-get($map: $warn, $key: A100);
$warn-A200: map-get($map: $warn, $key: A200);
$warn-A400: map-get($map: $warn, $key: A400);
$warn-A700: map-get($map: $warn, $key: A700);

.mat-button-toggle-group-appearance-standard {
  border: none;
}

.mat-input-element {
  color: $primary-color;

  &::placeholder {
    color: $primary-color !important;
    opacity: 0.75;
  }
}

.mat-select-arrow-wrapper {
  transform: none !important;
}

.mat-form-field-underline {
  bottom: 0.25em !important;
}

.mat-form-field-flex {
  &:hover {
    .mat-form-field-ripple {
      background-color: $primary-color;
    }
  }
}

.mat-button-toggle-ripple, .mat-radio-ripple {
  display: none;
}

.mat-select-value,
.mat-select-placeholder {
  color: $btns__text
}

.mat-button-toggle-appearance-standard {
  .mat-button-toggle-focus-overlay {
    background-color: transparent;
    border-bottom: solid 0 !important;
  }  
}
