$bg-color: #f7f7f7;
$white: #fff;
$selectColor: #999999;

@mixin transition() {
  transition: all 0.5s ease;

  &:hover {
    transition: all 0.5s ease;
    text-decoration: none;
  }
}

@mixin gridSetup() {
  .renewables { grid-area: renewables; }
  .weather { grid-area: weather; }
  .demand { grid-area: demand; }
  .hydro { grid-area: hydro; }
  .prices { grid-area: prices; }
  .availability {grid-area: availability; }
  .risk { grid-area: risk; }
  .data { grid-area: data; }
}

@mixin gridAvailability() {
  .availability__menu { grid-area: menu }
  .availability__content { grid-area: content }
}

@mixin customSelect() {
  box-shadow: inset 0 -1px 2px #ececec;
  border-radius: 22px;
  font-size: 10px;
  font-weight: 400;
  color: #999999;
  text-align: center;
  max-width: 120px;
  min-width: 120px;
  margin-left: 10px;
  padding: 3px;
  border: 1px solid $borderColor;

  @media #{$grid-large-lg-size} and #{$grid-max-xl-size} {
    max-width: 85px;
    min-width: 85px;
    margin-left: 0;
  }
}

@keyframes showDashboard {
  from {
    transform: translateX(-100%);
    opacity: 0;
    background-color: $white;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    background-color: $bg-color;
  }
}

@keyframes showUserProfile {
  from {
    transform: translateX(100%);
    opacity: 0;
    background-color: $bg-color;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
    background-color: $white;
  }
}

