@import './_mixins.scss';
@import './_grid.scss';

// Base colors
$bg-color: #f7f7f7;
$bg-subpage-color: #f7f7f7;
$base-color: #f58221;
$disabled-color: #bbb;
$btn-text-color: #fff;
$btn-background-color: #919191;
$accent-font: 'Montserrat', sans-serif;
$basic-font-color: #585858;
$basic-text-font: 'Overpass', sans-serif;
$dropdown-text-color: #353535;
$filter-breakLine: rgba(150, 150, 150, .16);
$banner-height: 60px;
$bg-collapse-menu: #fff;
$menu-color: #797979;
$inputBg: #e7e7e7;
$boxTableColor: #919191;
$dividerColor: rgba(150, 150, 150, 0.16);
$dataTableRowHover: rgba(245, 130, 33, 0.4);
$borderButtons: #e6e7e8;
$white: #fff;

// Chart styles
$chart-container-background: #f7f7f7;
$chart-background: #fff;
$btn-background: #b5dda4;
$btn-text: #43894e;
$btn-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
$chart-menu-background: #F58221;
$borderTableColor: #292929;

// buttons variables
$country-dark-color: #212121;
$btns__kind: #fef7e6;
$btns__kind--text: #292929;
$btn__model: #F5F5F5;
$model__text: #585858;
$btn__active--model: #FFE8C1;
$active--model__text: #FFFFFF;

// DarkTheme
$black_theme_bg: #292929;
$black_theme_bg_lighten: #343434;
$black_theme_banner_bg: #1c222e;
$orange: #f58220;
$grey: #E7E7E7;
$borderColor: #919191;
