<div class="chart chart__big  chart__big--availability canvas-shadow"
     [class.hide]="chartStatus === 'hide'"
     [class.show]="chartStatus === 'show'">
  <div class="chart__content chart__content--availabillity">
    <div class="chart__content--item">
      <div class="header-wrapper">
        <div class="chart__header">
          <div class="header__btns">
            <chart-button
              *ngFor="let country of countries$ | async"
              (click)="changeDataByCountry(country)"
              (emitCountry)="setChartSelectedBtn(country)"
              [currentCountry$]="currentCountry$"
              [country]="country"
              [name]="country.name"
              [kind]="'country'"
              [chartType]="chartTitle">
            </chart-button>
          </div>
        </div>
        <div class="resizeButtons">
          <span *ngIf="fullscreenActive" (click)="setFullscreen(chartTitle, false)" class="ico-minify"></span>
          <span *ngIf="!fullscreenActive" (click)="setFullscreen(chartTitle, true)" class="ico-fullscreen"></span>
        </div>
      </div>

      <div class="availability__menu__wrapper">
        <div class="header__tabs">
          <div (click)="hideTable()"
               [class.header__title--active]="showChart"
               class="header__title">{{ chartTitle | translate }}
          </div>
          <div (click)="showTable()"
               [class.header__title--active]="!showChart"
               class="header__title">{{ 'Ongoing outages' | translate }}
          </div>
        </div>

        <div class="availability__menu">
          <mat-radio-button
            #defaultCheckbox
            class="mat-radio-button"
            [checked]="defaultCheckboxState"
            (change)="resetData()">Real-Time
          </mat-radio-button>
          <mat-radio-button
            #lastCheckBox
            class="mat-radio-button"
            (change)="getRealTimeDataByOffset(1)"
            [checked]="d1CheckboxState">D-1
          </mat-radio-button>
          <mat-radio-button
            #prevCheckBox
            class="mat-radio-button"
            (change)="getRealTimeDataByOffset(7)"
            [checked]="d2CheckboxState">D-7
          </mat-radio-button>
          <ng-container *ngIf="availabilityRunDates">
            <mat-select #runDatesSelect (selectionChange)="getRealTimeDataByOffset(runDatesSelect.value)" placeholder="As of">
              <ng-container *ngFor="let date of availabilityRunDates; let i = index">
                <mat-option *ngIf="!date.includes('d')" [value]="i">
                  <span>{{ 'D-'+ i }}</span>
                </mat-option>
              </ng-container>
            </mat-select>
          </ng-container>
        </div>
      </div>

      <div class="availability__content__wrapper"
        [class.show-availability]="showChart"
        >
        <div class="availability__content chart__content">
          <div class="chart__content--item">
            <div class="canvas">
              <canvas
                #chart
                [class.resizeOn]="(resizeLoader$ | async)">
              </canvas>
            </div>
            <ng-container *ngIf="(resizeLoader$ | async)">
              <div class="loader__container">
                <div class="loader">
                  <img src="../../../assets/img/loader.svg">
                </div>
              </div>
            </ng-container>
            <div class="filters__container">
              <div class="filters__buttons hasLegend">
                <mat-button-toggle-group (change)="filtersByDays($event.value)" class="buttons--group">
                  <mat-button-toggle class="button--group" value="10" [checked]="currentOffset === 10">Day+10</mat-button-toggle>
                  <mat-button-toggle class="button--group" value="16" [checked]="currentOffset === 16">Day+16</mat-button-toggle>
                  <mat-button-toggle class="button--group" value="30" [checked]="currentOffset === 30">Day+30</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="filters__models">
                <chart-button
                  *ngFor="let btn of labels"
                  (click)="toggleAvailabilityData(btn)"
                  [selectedAvailabilityBtns]="selectedBtns"
                  [btnAvailabilityLabel]="btn"
                  [kind]="'availability'"
                  class="legend__availability"
                ></chart-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box__table"
         [class.show-outages]="!showChart">
        <mat-table *ngIf="newTableData.length" class="outages-table mat-elevation-z8" [dataSource]="newTableData">
          <ng-container matColumnDef="typeOfOutage">
            <mat-header-cell *matHeaderCellDef class="hasCircle"><span class="circle-green"></span> Type of outage</mat-header-cell>
            <mat-cell
              *matCellDef="let data"
              class="hasCircle">
              <span *ngIf="data.type_outage_planned" class="circle-green"></span> <span *ngIf="data.type_outage_planned">Planned <br/> maintenance</span>
              <span *ngIf="!data.type_outage_planned" class="circle-yellow"></span> <span *ngIf="!data.type_outage_planned">Forced <br/> unavailability</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef>Start</mat-header-cell>
            <mat-cell
              *matCellDef="let data">{{ !!data.start_date ? data.start_date : 0 }} <br/> {{ !!data.start_hour ? data.start_hour : 0 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef>End <br/> (Estimated or real)</mat-header-cell>
            <mat-cell class="description-cell"
                      *matCellDef="let data">{{ !!data.end_date ? data.end_date : 0 }} <br/> {{ !!data.end_hour ? data.end_hour : 0 }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="nameUnit">
            <mat-header-cell *matHeaderCellDef>Name <br/> of concerned unit <br/></mat-header-cell>
            <mat-cell class="duration-cell"
                      *matCellDef="let data">{{ !!data.unit_name ? data.unit_name : 0 }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nameCapacity">
            <mat-header-cell *matHeaderCellDef>Installed capacity<br/></mat-header-cell>
            <mat-cell class="duration-cell"
                      *matCellDef="let data">{{ !!data.installed ? data.installed : 0}}MW</mat-cell>
          </ng-container>

          <ng-container matColumnDef="availableCapacity">
            <mat-header-cell *matHeaderCellDef>Available <br/> capacity</mat-header-cell>
            <mat-cell class="duration-cell"
                      *matCellDef="let data">{{ !!data.remaining ? data.remaining : 0}}MW</mat-cell>
          </ng-container>

          <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef>Updated</mat-header-cell>
            <mat-cell class="duration-cell"
                *matCellDef="let data">{{ !!data.run_date ? data.run_date : 0 }} <br/> {{ !!data.run_hour ? data.run_hour : 0 }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let data; columns: displayedColumns"></mat-row>

        </mat-table>
        <ng-container *ngIf="newTableData.length === 0">
          No data available.
        </ng-container>
      </div>
      <ng-container *ngIf="!showChart">
        <div class="outagesSource__copyright">source: ENTSO-E</div>
      </ng-container>
    </div>
  </div>
</div>
