@import '../../../assets/css/variables';
@import '../../../assets/css/_chart.scss';

:host {
  &::ng-deep {

    .icon {
      color: $base-color;

      &:hover {
        cursor: pointer;
      }
    }

    .menu__container {
      transform: translateY(40%) !important;
    }
  }
}
