<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>templateId</strong>: {{ data.templateId }}</li>
        <li><strong>fileId</strong>: {{ data.fileId }}</li>
        <li><strong>position</strong>: {{ data.position }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
