
<div class="logo-container">
  <img src="../../../assets/img/logo-white.svg" alt="Cor-e" class="logo-container__img" />
</div>
<div class="login-form">
  <div>
    <p class="login-form__title">{{ 'Change your password' | translate }}</p>
    <form [formGroup]="recoveryForm" class="login-form__content">
      <mat-form-field class="login-form__input">
        <input matInput placeholder="{{ 'New password' | translate }}" type="password"  [autofocus]="true" formControlName="newPassword" required>
        <span *ngIf="!recoveryForm.controls['newPassword'].hasError('required')" class="ico-circle_check login-form__input--icon"></span>
        <span *ngIf="recoveryForm.controls['newPassword'].hasError('required') && recoveryForm.controls['newPassword'].dirty" class="ico-circle_close login-form__input--icon"></span>
      </mat-form-field>
      <mat-form-field class="login-form__input">
        <input matInput placeholder="{{ 'Re-type new password' | translate }}" type="password" formControlName="retypePassword" required >
        <span *ngIf="!recoveryForm.controls['retypePassword'].hasError('required')" class="ico-circle_check login-form__input--icon"></span>
        <span *ngIf="recoveryForm.controls['retypePassword'].hasError('required') && recoveryForm.controls['retypePassword'].dirty" class="ico-circle_close login-form__input--icon"></span>
      </mat-form-field>
      <button mat-button type="button" (click)="changePassword()" class="btn btn-primary btn-lg" [disabled]="recoveryForm.invalid">
        {{ 'Change password' | translate }}
      </button>
    </form>
  </div>
</div>
