@import '../../../assets/css/variables';

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-image: url(../../../assets/img/img-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:after {
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#010101, 0.5);
  }
}

.logo-container {
  z-index: 1;
  position: relative;
  &__img {
    width: 226px;
  }
}

.login-form {
  max-width: 460px;
  width: 100%;
  margin: 60px auto 0;
  padding: 36px;
  background-color: $btn-text-color;
  border-radius: 5px;
  z-index: 1;
  position: relative;

  @media #{$grid-max-large-xs-size} {
    width: calc(100% - 40px);
  }

  &__title {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-family: $accent-font;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__content {
    display: flex;
    flex-direction: column;

    .hint-pointer {
      cursor: pointer;
    }
  }
  &__input {
    font-family: $accent-font;
    margin-bottom: 10px;
    height: 45px;
    font-size: 13px;
    position: relative;
    font-weight: 700;
    &--icon {
      position: absolute;
      right: 0;
      bottom: 4px;
      font-size: 18px;
      color: $base-color;
    }
    &:first-of-type {
      margin-bottom: 30px;
    }
  }
  &__captcha {
    max-width: 100%;
    margin: 0 auto 8px;
  }
  .btn {
    line-height: 44px;
    margin: 0 auto;
    border: none;
  }
}

.mat-error {
  text-align: center;
  margin: 0px auto 10px;
  font-size: 13px;
  font-weight: 400;
}

.input-group-text {
  width: 48px;
  justify-content: center;
}

.btn-lg {
  width: 100%;
}

.form-check {
  padding-left: 0;
  font-size: 13px;
  font-weight: 400;
}
