<div class="container">
  <div class="personal__information__container">
    <h2 class="container__header">{{ 'Personal information' | translate }}</h2>
    <form *ngIf="formBuilded" #userForm="ngForm" [formGroup]="form" class="personal__information__container__form" autocomplete="off">
      <div class="form__row">
        <mat-form-field class="row__col">
          <input matInput placeholder="{{ 'First Name *' | translate }}" formControlName="firstName" class="col__input" autocomplete="nope-input">
        </mat-form-field>
        <mat-form-field class="row__col">
          <input matInput placeholder="{{ 'Last Name *' | translate }}" formControlName="lastName" class="col__input" autocomplete="nope-input">
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field class="row__col">
          <input matInput placeholder="{{ 'Street' | translate }}" formControlName="street" class="col__input" autocomplete="nope-input">
        </mat-form-field>
        <mat-form-field class="row__col">
          <input matInput placeholder="{{ 'Zip Code' | translate }}" formControlName="zipCode" class="col__input" autocomplete="nope-input">
        </mat-form-field>
      </div>
      <div class="form__row">
        <mat-form-field class="row__col">
          <div class="">
            <input matInput placeholder="{{ 'City' | translate }}" formControlName="city" class="col__input" autocomplete="nope-input">
          </div>
        </mat-form-field>
        <mat-form-field class="row__col">
          <input matInput placeholder="{{ 'Country' | translate }}" formControlName="country" [matAutocomplete]="auto"
                 class="col__input" autocomplete="nope-input">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of countries" [value]="country.name">
              <span>{{ country.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form__row">
        <mat-form-field class="row__col">
          <input matInput placeholder="{{ 'Email Address *' | translate }}" formControlName="email"
                 class="col__input col__input--email" autocomplete="nope-input">
        </mat-form-field>
        <div class="row__col phone__wrapper">
          <div class="col_phone__wrapper phone__wrapper__prefix">
            <mat-form-field class="col__input--prefix">
              <mat-select formControlName="phonePrefix" placeholder="{{ 'Prefix' | translate }}">
                <mat-optgroup *ngFor="let country of phonePrefix" [label]="country.name">
                  <mat-option [value]="country.phonePrefix">
                    <span>{{ country.phonePrefix }}</span>
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field class="phone__wrapper__input">
            <div class="col_phone__wrapper">
              <input matInput placeholder="{{ 'Phone Number' | translate }}" formControlName="phoneNumber"
                     class="col__input col__input--phone" autocomplete="nope-input">
            </div>
          </mat-form-field>
        </div>
      </div>

      <button (click)="saveUserData(userForm.form)"
              class="btn btn-primary btn-secondary">{{ 'Save' | translate }}</button>
    </form>
  </div>
  <div class="user-form-settings">
    <user-form-settings (valueChange)='displayContent($event)'></user-form-settings>
    <user-saved-settings></user-saved-settings>
  </div>
</div>
