@import '../../../assets/css/variables';
.container {
  height: 100%;
  min-height: 100vh;
  background-color: $bg-subpage-color;
  padding: 56px 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;

  @media #{$grid-max-lg-size} {
    flex-direction: column;
  }
}

.btn-secondary {
  border: none;
  width: 80px;
  height: 36px;
  border-radius: 30px !important;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;

  @media #{$grid-max-sm-size} {
    margin-bottom: 20px;
  }
}

.container__header {
  height: 24px;
  color: $basic-font-color;
  font-family: $basic-text-font;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 54px;
}

.personal__information__container {
  width: 30%;
  padding: 98px 30px 96px 32px;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

  @media #{$grid-max-sm-size} {
    width: 100%;
  }

  @media #{$grid-sm-size} and #{$grid-max-lg-size} {
    width: 100%;
  }

  @media #{$grid-lg-size} and #{$grid-max-xl-size} {
    width: 35%;
  }

  .personal__information__container__form {
    font-family: $basic-text-font;
    display: flex;
    flex-direction: column;

    .form__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      width: 100%;

      @media #{$grid-max-large-xs-size} {
        flex-direction: column;
      }

      .row__col {
        display: flex;
        position: relative;
        width: 44%;
        flex-direction: column;

        @media #{$grid-max-large-xs-size} {
          width: 100%;
        }

        .mat-form-field-infix {
          text-transform: uppercase;
          font-size: 12px;
        }

        &.phone__wrapper {
          flex-direction: row;

          ::ng-deep {
            .phone__wrapper__prefix {
              min-width: 30%;
              max-width: 40%;
              position: absolute;
              z-index: 1;
              top: 3px;
              height: auto;

              .mat-form-field {
                max-width: 100%;
              }

              .col__input--prefix {

                .mat-form-field-wrapper {
                  width: 100% !important;

                  .mat-form-field-flex {
                    width: 100% !important;
                  }

                  .mat-form-field-underline {
                    display: none !important;
                  }
                }
              }
            }

            .mat-select {
              border: none !important;
            }
          }

          .phone__wrapper__input {
            width: 100%;

            ::ng-deep {
              .mat-form-field-label {
                text-align: right;
                padding-right: 10px;
              }
            }

            .col_phone__wrapper {
              .col__input--phone {
                margin-left: 40%;
                max-width: 60%;
                padding-left: 10px;
              }
            }
          }
        }

        .col__label {
          height: 13px;
          color: $basic-font-color;
          font-size: 10px;
          line-height: 16px;
          margin-left: 7px;
        }

        .col__input {
          width: 100%;
          border-radius: 0px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          border: none;
          font-size: 17px;
          height: 24px;
          display: flex;
          align-items: center;
          margin-bottom: -3px;

          @media #{$grid-max-large-xs-size} {
            width: 100%;
          }
        }
      }
    }
  }
}

.dashboard__layout__container {
  max-width: 68%;
  min-width: 68%;

  @media #{$grid-max-lg-size} {
    max-width: 100%;
    min-width: 100%;
    margin-top: 15px;
  }

  .dashboard__layouts {

    .dashboard__layouts__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;

      .dashboard__layouts__wrap__item {
        width: calc(100% * 1/4 - 20px);
        padding-right: 10%;

        @media #{$grid-max-large-xs-size} {
          width: 100%;
          padding-right: 0;
          padding-bottom: 15px;
        }

        @media #{$grid-large-xs-size} and #{$grid-max-lg-size} {
          width: calc(100% * 1/4);
          padding-right: 15px;
        }

        .item__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;

          .item__name {
            font-family: $accent-font;
            font-size: 14px;

            @media #{$grid-large-xs-size} and #{$grid-max-sm-size} {
              font-size: 11px;
            }
          }

          .item__buttons {
            display: flex;
            align-items: center;
            width: 16%;
            justify-content: space-between;

            button {
              background: none;
              border: none;
              padding: 0;
              cursor: pointer;
            }
          }
        }

        .item__image {
          width: 100%;
        }
      }
    }
  }
}

.user-form-settings {
  max-width: 68%;
  min-width: 68%;

  @media #{$grid-max-lg-size} {
    max-width: 100%;
    min-width: 100%;
  }

  @media #{$grid-lg-size} and #{$grid-max-xl-size} {
    max-width: 63%;
    min-width: 63%;
  }
}
